
@import '../partials/typography';

.heading-hero-domestic {
  span {
    @include brand-48();
    display: inline-block;
    color: $white;
    background: $great-red;
    padding: 8px 15px 5px 15px;
    margin: 0 0 5px -15px;
  }
}

.heading-hero-generic {
  @include brand-48();
  color: $white;
}

.heading-hero-generic-compact {
  @include brand-36();
  color: $white;
}

main {
  line-height: $line-height;
}
