{% load lazyload from directory_components %}

<div
  class="card {% if title and not description and not html_content %}only-title{% endif %}"
  {% if card_id %}id="{{ card_id }}"{% endif %}
>
  {% if url %}
  <a
    class="card-link"
    href="{{ url }}"
    {% if card_id %}id="{{ card_id|add:'-link' }}"{% endif %}>
  {% endif %}
    {% block image %}
    {% if img_src %}
      {% lazyload %}
        <img class="card-image" src="{{ img_src }}" alt="{{ img_alt }}" {% if card_id %}id="{{ card_id|add:'-image' }}"{% endif %}>
      {% endlazyload %}
    {% endif %}
    {% endblock %}
    <div class="card-inner">
      {% block content %}
      {% if html_content %}
      {{ html_content }}
      {% else %}
        {% if subheading %}
          <p class="subheading">{{ subheading }}</p>
        {% endif %}
        {% if title or heading %}
          <h3 class="heading-large">{% firstof title heading %}</h3>
        {% endif %}
        {% if description %}
          <p class="description">{{ description }}</p>
        {% endif %}
      {% endif %}
      {% endblock %}
    </div>
  {% if url %}
  </a>
  {% endif %}
</div>
