<section class="{{ section_class }}">
  <div class="container">
    <h2 class="heading-large margin-top-60-m margin-top-30">{{ heading }}</h2>
    <div class="grid-row">
      {% for item in items %}
        {% if forloop.first %}
        <div class="column-full column-two-thirds-xl margin-bottom-30">
          <img class="width-full margin-bottom-30" src="{{ item.image.url }}" alt="{{ item.img_alt }}">
          <p class="subheading">{{ item.type_of_article }}</p>
          <a href="{{ item.url }}" class="link heading-medium margin-top-0">{{ item.title }}</a>
          <p class="margin-bottom-0">{{ item.teaser }}</p>
        </div>
        {% endif %}
      {% endfor %}
      <ul class="column-full column-third-xl">
        {% for item in items %}
          {% if not forloop.first %}
          <li class="margin-bottom-30">
            <p class="subheading">{{ item.type_of_article }}</p>
            <a href="{{ item.url }}" class="link heading-medium margin-top-0">{{ item.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
