<section class="full-width-banner-with-cta" style="background-image: url({{ background_image }}) " >
	<div class="container">
		<div class="grid-row">
			<div class="column-full column-two-thirds-m column-half-l column-third-xl">
				<div class="decorative-line border-thin border-flag-red"></div>
				<h2 class="heading-large">{{ heading }}</h2>
				<p class="margin-bottom-30">{{ subtitle }}</p>
				<a class="button button-arrow-small" href="{{ cta_link }}">{{ cta_text }}</a>
			</div>
		</div>
	</div>
</section>