{% with large_title|yesno:'hero-title,hero-title-compact' as title_class_name %}
{% with large_title|yesno:'heading-hero-generic,heading-hero-generic-compact' as heading_class_name %}
<section
  class="hero hero-generic"{% if background_image_url %}
  style="background-image: url({{ background_image_url }})"{% endif%}
  id="hero">
  <div class="container">
    <div class="{{ title_class_name }}">
      {% if hero_subheading %}
        <h1 id="hero-heading" class="{{ heading_class_name }} with-subheading">
          <span class="hero-subheading">{{ hero_subheading }}</span>
          <span>{{ hero_text }}</span>
        </h1>
      {% else %}
        <h1 class="{{ heading_class_name }}" id="hero-heading">
          {{ hero_text }}
        </h1>
      {% endif %}
      {% if description %}
      <p class="hero-description" id="hero-description">{{ description }}</p>
      {% endif %}
    </div>
  </div>
</section>
{% endwith %}
{% endwith %}
