<a
  class="labelled-card"
  href="{{ url }}"
  {% if card_id %}id="{{ card_id|add:'-link' }}"{% endif %}>
  <div class="card-header">
    <h3 class="title">{% firstof title heading %}</h3>
  </div>
  {% if img_src %}
    <div
      class="card-image"
      role="image"
      style="background-image: url({{ img_src }});"
      aria-label="{{ img_alt }}"
      title="{{ img_alt }}"
      {% if card_id %}id="{{ card_id|add:'-image' }}"{% endif %}>
      <p class="visually-hidden">{{ img_alt }}</p>
    </div>
  {% endif %}
  <div class="card-inner {% if img_src %}with-image{% endif %}">
    <p class="description">{{ description }}</p>
  </div>
</a>
