{% extends 'directory_components/base.html' %}

{% block head_title %}This page cannot be found{% endblock %}

{% block content %}
<section class="padding-top-30">
  <div class="container">
    <div class="width-two-thirds">
      <h1 class="heading-xlarge">This page cannot be found</h1>
      <ul class="list list-bullet">
          <li>If you entered a web address please check it’s correct.</li>
          <li>If you followed a link here, <a class="link" href="{{ services_urls.contact_us }}">let us know</a>.</li>
          <li><a class="link" href="{{ services_urls.exred }}">Go to the homepage</a></li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block feedback_reporter %}{% endblock %}
