.heading {
  font-size: 24px;
  margin: 0;
}

.synopsis {
  font-size: 19px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 0;
  margin-top: 1em;
  min-height: 52px;
  padding: 10px;
  line-height: normal;
  font-weight: normal;
}

@media (min-width: 640px) {
  .buttonContainer {
    flex-direction: row;
  }

  .button {
    flex: 1;
  }

  .button:not(:last-child) {
    margin-right: 1em;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  outline: none;
}