
@import '../partials/spacings';
@import '../partials/typography';

// Hero banner

.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: $spacing-2;
  padding-bottom: 0;
  color: $white;
}

.hero-generic {
  background-color: $hero-blue;

  .container {
    min-height: 300px;
    position: relative;
    overflow: visible;
  }

  .hero-title {
    background-color: $hero-blue;
    border-bottom: $flag-red solid 6px;
    bottom: -6px;
    left: 0;
    padding: 30px;
    position: absolute;
    width: auto;

    h1 > span {
      display: block;
    }
  }

  .hero-title-compact {
    @extend .hero-title;
    padding: 25px;
    max-width: 30%;

    .hero-subheading {
      @include brand-19();
    }
  }

  .hero-description {
    margin-bottom: 0;
    font-family: $brand-font;
  }

  .hero-subheading {
    @include brand-24();
  }
}

.hero-domestic {
  h1,
  h2,
  h3 {
    margin-bottom: $spacing-1;
  }

  img {
    float: right;
    height: 90px;
    margin-bottom: $spacing-3;
  }
}

@media (max-width: 1100px) {
  .hero-generic {
    .hero-title,
    .hero-title-compact {
      max-width: 400px;
    }
  }
}

@media (min-width: 641px) {
  .hero-title {
    min-width: 470px;
  }
}

@media (max-width: 640px) {
  .heading-hero-generic {
    font-size: 32px;
  }
}

.hero-with-cta {
    padding: $spacing-1 + $spacing-3 0 $spacing-1;
    background-color: $black;
    min-height: 400px;

    h1 {
      margin-top: 0;
    }

    h2 {
      margin-bottom: $spacing-3;
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: row;
    }

    .hero-brand {
      position: absolute;
      right: 0;
      top: 0;

      img {
        height: 100px;
      }
    }

    .hero-text {
      width: 50%;
    }
  }

 @media (max-width: 900px) {
    .hero-with-cta {
      .hero-text {
        width: calc(100% / 3 * 2);
      }
    }
  }

@media (max-width: 640px) {
.hero-with-cta {
      .hero-text {
        width: 100%;

        h2 {
          width: 70%;
        }
      }

      .hero-brand {
        bottom: 0;
        top: auto;

        img {
          height: 80px;
        }
      }
    }
}

.full-width-banner-with-cta {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    position: relative;

    .grid-row {
      flex-grow: 1
    }
  }

  .decorative-line {
    width: 50%;
  }

  @media (max-width: 640px) {
    .button {
      width: auto;
    }
  }
}