<p>Do research first so you have the information you need to make decisions about:</p>
<ul class="list list-bullet">
  <li>which markets to enter and when</li>
  <li>the best routes into a market</li>
  <li>how to position your product or service in your chosen markets</li>
</ul>
<p>Market data should shape your plans. For example, it could show you that a country you were planning to move into has too much competition or falling demand.</p>
<p>Selling to a new market without the right information could cost you time and money. In extreme cases it could put your business at risk.</p>
<p class="body-text">Market data should shape your plans. For example, it could show you that a country you were planning to move into has too much competition or falling demand.</p>
<p class="body-text">Selling to a new market without the right information could cost you time and money. In extreme cases it could put your business at risk.</p>
<h3 class="heading-medium">Decide what you need to know</h3>
<p class="body-text">Plan your research to keep it focused. Start by asking:</p>
<ul class="list list-bullet">
<li>what is the market potential?</li>
<li>what are the barriers to entry?</li>
<li>who are my competitors?</li>
<li>who are my customers?</li>
<li>what are the best routes to market?</li>
</ul>
<h3 class="heading-medium">Research market risks</h3>
<p class="body-text">You need to be aware of potential risks to your business when exporting. You can get assistance from third party legal teams or risk analysts.  Risks include failing to comply with laws, regulations and customs that apply in the country to which you’re exporting. Make sure you know the relevant legislation, including the <a class="link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/181762/bribery-act-2010-guidance.pdf" target="_blank">UK Bribery Act 2010</a>.</p>
<p class="body-text">The risks of doing business in a particular country, and who you work with both inside and outside your organisation should inform your decision-making.</p>
<p class="body-text">There are online resources about specific risks in each country:</p>
<ul class="list list-bullet">
<li><a class="link" href="https://www.transparency.org/news/feature/corruption_perceptions_index_2017" target="_blank">The Corruption Perception Index</a> ranks countries by their perceived levels of public sector corruption</li>
<li><a class="link" href="https://www.weforum.org/reports/the-global-competitiveness-report-2017-2018" target="_blank">The Global Competitiveness Report</a> assesses each country’s most problematic factors for doing business</li>
<li><a class="link" href="http://www.doingbusiness.org/rankings" target="_blank">Ease of Doing Business</a> ranks countries according to their regulatory environment</li>
<li><a class="link" href="https://www.business-anti-corruption.com/country-profiles/" target="_blank">Country Corruption Reports</a> provide assessments of corruption risks in key sectors</li>
</ul>
<p class="body-text">To find out what support is available to you as a UK exporter or investor, get in touch with the <a class="link" href="https://www.gov.uk/world/embassies" target="_blank">British Embassy or High Commission</a> in your chosen market, your local <a class="link" href="https://www.contactus.trade.gov.uk/office-finder?hof-cookie-check" target="_blank">Department for International Trade (DIT)</a> or <a class="link" href="http://www.britishchambers.org.uk/about-the-bcc/" target="_blank">British Chambers of Commerce</a>.</p>
