{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load banner hero message_box breadcrumbs cta_box card labelled_card labelled_image_card informative_banner from directory_components_tags %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block body_header %}
  {{ block.super }}
  {% include 'directory_components/header_beta_banner.html' %}
{% endblock %}

{% block content %}

<div class="container">
    {% breadcrumbs left_url='/' left_label='Home' right_label='Banners' %}
</div>

<div class="container">
  <div class="width-two-thirds">
    <h1 class="heading-xlarge">Banners</h1>

    <h2 class="heading-medium">Beta banner</h2>
    <p>See above.</p>
  </div>
  <pre><code>{% verbatim %}{% include 'directory_components/header_beta_banner.html' %}{% endverbatim %}</code></pre>
  <div class="width-two-thirds">
    <h2 class="heading-large">Cookie notice</h2>
    <p>The cookie notice is displayed at the top of every page (clear your cookies if you already dismissed it). When dismissed it will set the cookie <code>hide_cookie_notice</code>. The JavaScript <code>dit.components.cookie-notice.js</code> will look for that cookie when the page loads. If it finds it, the cookie notice will not display. This JS requires jQuery to run. When JS is disabled in the browser the cookie notice will always be displayed.</p>

    <h3 class="heading-medium">HTML markup</h3>
  </div>
  <pre>
    <code>
&lt;div id="header-cookie-notice" class="cookie-notice"&gt;
  &lt;div class="container cookie-notice-container"&gt;
    &lt;p&gt;Great.gov.uk uses cookies to make the site simpler. &lt;a class="link" href="/privacy-and-cookies/"&gt;Find out more about cookies&lt;/a&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
  </pre>
  <div class="width-two-thirds">
    <h2 class="heading-large">Dismissable banner</h2>
    <p>A dismissible banner that can be used to alert the user to potentially useful information.</p>
  </div>
  <pre><code>{% verbatim %}{% load banner from directory_components_tags %}

{% banner banner_content='&lt;p&gt;For more information go to &lt;a href="#"&gt;Great.gov.uk&lt;/a&gt;&lt;/p&gt;' badge_content='Information' %}{% endverbatim %}</code></pre>

    {% banner banner_content='<p>For more information go to <a href="#">Great.gov.uk</a></p>' badge_content='Information' %}

  <div class="width-two-thirds">
    <h3 class="heading-medium">HTML markup</h3>
    <p>The close button is appended to the banner with JavaScript and does not need to be in the template.</p>
  </div>
    <pre>
      <code>
&lt;div id="information-banner" class="information-banner border-medium border-stone-30 padding-15"&gt;
  &lt;div class="banner-content"&gt;
    &lt;div class="banner-badge"&gt;
      &lt;span class="bold-small background-active-blue white-text"&gt;Banner badge text&lt;/span&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;p class="body-text"&gt;Banner content with a &lt;a class="link" href="#"&gt;link&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
    </pre>

     <div class="width-two-thirds">
        <h2 class="heading-large">Informative banner</h2>
        <p>A different style of informative banner that can be used to alert the user to potentially useful but not urgent information.</p>
    </div>

    <pre><code>{% verbatim %}{% load informative_banner from directory_components_tags %}

{% informative_banner banner_label='Banner Label' banner_content='&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, &lt;a href="#"&gt;sed do eiusmod tempor incididunt &lt;/a&gt; ut labore et dolore magna aliqua.&lt;/p&gt;' %}

{% informative_banner banner_label='Banner Label' banner_content='&lt;br&gt;&lt;p&gt;An informative banner with separate lines &lt;a&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;' %}

{% informative_banner banner_content='&lt;p&gt;An informative banner with separate lines &lt;a&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt;/a&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;' %}{% endverbatim %}

    </code></pre>

    {% informative_banner banner_label='Banner Label' banner_content='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="#">sed do eiusmod tempor incididunt </a> ut labore et dolore magna aliqua.</p>' %}
<br>
    {% informative_banner banner_label='Banner Label' banner_content='<br><p>An informative banner with separate lines <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p><br><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}
<br>
    {% informative_banner banner_content='<p>An informative banner with separate lines <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p><br><p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>' %}

    <a href="{% url 'index' %}" class="link-back link">Go back</a>

   </div>

</section>

{% endblock %}
