{% extends 'directory_components/base.html' %}

{% load static from staticfiles %}

{% block body_header %}
    {% include 'demo/includes/header.html' %}
{% endblock %}

{% block head_css %}
    <link href="{% static 'directory_components/export_elements/stylesheets/govuk-elements-styles.min.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'directory_components/export_elements/stylesheets/elements-components.min.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'css/demo.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block body_footer %}
    {% include 'demo/includes/footer.html' %}
{% endblock %}
