{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load directory_components %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

<div class="container">
  {% breadcrumbs 'Breadcrumbs' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>

<section>
  <div class="container">
    <h1 class="heading-large">Breadcrumbs</h1>
    <div class="grid-row">
      <div class="column-full padding-bottom-15">
        <h2 class="heading-medium">Three levels</h2>


<pre><code>{% verbatim %}{% breadcrumbs 'current page' %}
  &lt;a href="http://www.example.com"&gt;home&lt;/a&gt;
  &lt;a href="http://www.example.com/middle/"&gt;middle label&lt;/a&gt;
{% endbreadcrumbs %}{% endverbatim %}
</code></pre>

{% breadcrumbs %}
  <a href="http://www.example.com">home</a>
  <a href="http://www.example.com/middle/">middle label</a>
  <span>current page</span>
{% endbreadcrumbs %}

      </div>
    </div>
    <div class="grid-row">
      <div class="column-full padding-bottom-15">
        <h2 class="heading-medium">Two levels</h2>
        <p>Similar to three levels, but exclude middle_url and middle_label.</p>
<pre><code>{% verbatim %}{% breadcrumbs 'current page' %}
  &lt;a href="http://www.example.com"&gt;home&lt;/a&gt;
{% endbreadcrumbs %}{% endverbatim %}
</code></pre>

        {% breadcrumbs 'current page' %}
          <a href="http://www.example.com">home</a>
        {% endbreadcrumbs %}
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full padding-bottom-15">
        <h2 class="heading-medium">More levels</h2>
        <p>Similar to three levels, but exclude middle_url and middle_label.</p>

<pre><code>{% verbatim %}{% breadcrumbs 'current page' %}
  &lt;a href="http://www.example.com/level1/"&gt;level 1&lt;/a&gt;
  &lt;a href="http://www.example.com/level2/"&gt;level 2&lt;/a&gt;
  &lt;a href="http://www.example.com/level3/"&gt;level 3&lt;/a&gt;
  &lt;a href="http://www.example.com/level4/"&gt;level 4&lt;/a&gt;
{% endbreadcrumbs %}{% endverbatim %}
</code></pre>

        {% breadcrumbs 'current page' %}
          <a href="http://www.example.com/level1/">level 1</a>
          <a href="http://www.example.com/level2/">level 2</a>
          <a href="http://www.example.com/level3/">level 3</a>
          <a href="http://www.example.com/level4/">level 4</a>
        {% endbreadcrumbs %}
      </div>
    </div>

  </div>
</section>
{% endblock %}
