{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load directory_components %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

<div class="container">
    {% breadcrumbs left_url='/' left_label='Home' right_label='Breadcrumbs' %}
</div>

<section>
  <div class="container">
    <h1 class="heading-large">Breadcrumbs</h1>
    <div class="grid-row"> 
      <div class="column-full padding-bottom-15">
        <h2 class="heading-medium">Three levels</h2>
        <pre><code>{% verbatim %}{% breadcrumbs left_url='http://www.example.com' left_label='home' middle_url='http://www.example.com/middle/' middle_label='middle label' right_label='right label' %}{% endverbatim %}</code></pre>
        {% breadcrumbs left_url='http://www.example.com' left_label='home' middle_url='http://www.example.com/middle/' middle_label='middle label' right_label='right label' %}
      </div>
    </div>
    <div class="grid-row"> 
      <div class="column-full padding-bottom-15">
        <h2 class="heading-medium">Two levels</h2>
        <p>Similar to three levels, but exclude middle_url and middle_label.</p>
        <pre><code>{% verbatim %}{% breadcrumbs left_url='http://www.example.com' left_label='home' right_label='right label' %}{% endverbatim %}</code></pre>
        {% breadcrumbs left_url='http://www.example.com' left_label='home' right_label='right label' %}
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <a href="{% url 'index' %}" class="link-back">Go back</a>
  </div>
</section>
{% endblock %}
