{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load directory_components %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

{% static 'images/hero02.png' as hero_image %}
{% static 'images/hero01.jpg' as hero_image_domestic %}
{% static 'images/card_image01.jpg' as card_image01 %}
{% static 'images/card_image02.jpg' as card_image02 %}

<div class="container">
    {% breadcrumbs left_url='/' left_label='Home' right_label='Cards' %}
</div>

<section class="padding-top-30">
  <div class="container">
    <div class="width-two-thirds">
      <h1 class="heading-xlarge">Cards</h1>
      <p>Cards stretch to fit their container. Grid columns collapse to one on smaller screens.</p>
      <p>Load these template tags to use cards:</p>
    </div>
    <pre><code>{% verbatim %}{% load card labelled_card labelled_image_card from directory_components %}{% endverbatim %}</code></pre>

    <div class="width-two-thirds">
      <p>A custom ID can be assigned to the card which also creates IDs for the link and image with the suffixes <code>-link</code> and <code>-image</code> respectively. See examples below.</p>
    </div>

    <div class="width-two-thirds">
      <h2 class="heading-medium">CTA card</h2>
      <p>An image with a call to action.</p>
    </div>
    <div class="flex-grid">
      <div class="column-half">
        {% cta_card image_url=card_image01 text="Read our market guide for Germany" %}
        <pre><code>{% verbatim %}{% cta_card image_url=card_image01 text="Read our market guide for Germany" %}{% endverbatim %}</code></pre>
      </div>
      <div class="column-half">
        {% cta_card with_arrow=True image_url=card_image02 text="Tell us what help you need" %}
        <pre><code>{% verbatim %}{% cta_card with_arrow=True image_url=card_image02 text="Tell us what help you need" %}{% endverbatim %}</code></pre>
      </div>
    </div>
    <div>
      <h2 class="heading-medium">Statistics</h2>
      <p>A grid of statistics:</p>
      {% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics %}
    </div>
    <pre><code>{% verbatim %}{% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics %}{% endverbatim %}</code></pre>
    <div class="margin-top-60">
      <p>You can also put the number first:</p>
      {% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics number_first=True %}
    </div>
    <pre><code>{% verbatim %}{% statistics_card_grid statistics=view.statistics num_of_statistics=view.num_of_statistics number_first=True %}{% endverbatim %}</code></pre>
  </div>
</section>

<section class="background-stone-30">
  <div class="container">
    <h2 class="heading-medium">Fact sheet with highlighted heading</h2>
    <div class="flex-grid">
      <div class="column-half">
        <div class="fact-sheet">
          <h3 class="highlight heading-medium background-grey white-text">Fact sheet</h3>
          <div class="fact-sheet-content background-white padding-45 wrap-tight">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="column-half">
        <pre><code>&lt;div class="fact-sheet"&gt;
&lt;h3 class="highlight heading-medium background-grey white-text"&gt;Fact sheet&lt;/h3&gt;
&lt;div class="fact-sheet-content background-white padding-45 wrap-tight"&gt;
  [ html content ]
&lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
    <h2 class="heading-medium">Image with caption</h2>
    <div class="grid-row">
      <div class="column-half">
        {% image_with_caption image_url=card_image01 main_caption="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor." sub_caption="Quis nostrud exercitation ullamco laboris" %}
      </div>
      <div class="column-half">
        <pre><code>{% verbatim %}{% image_with_caption image_url=card_image01 main_caption="Main image caption" sub_caption="Secondary image caption" %}{% endverbatim %}</code></pre>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium">Linked card with image and description</h2>
        {% card card_id='card-example-image-description' img_src=card_image02 url='#' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
        <pre><code>{% verbatim %}{% card card_id="card-example-image-description" img_src=card_image02 url='#' description='Lorem ipsum dolor sit amet...' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h2 class="heading-medium">Linked card with image and title</h2>
        {% static 'images/card_image01.jpg' as card_image01 %}
        {% static 'images/card_image02.jpg' as card_image02 %}
        {% card card_id="card-example-image-title" img_src=card_image02 url='#' heading='Lorem ipsum' %}
        <pre><code>{% verbatim %}{% card card_id="card-example-image-title" img_src=card_image02 url='#' heading='Lorem ipsum' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium">Unlinked card with image and html content</h2>
        {% static 'images/card_image01.jpg' as card_image01 %}
        {% static 'images/card_image02.jpg' as card_image02 %}
        {% card img_src=card_image02 img_alt='Card image description' title='Card title' html_content='<h4>Card title</h4><p>Cards can also have html content</p><a href="#" class="button button-blue">Button</a>' %}
        <pre><code>{% verbatim %}{% card img_src=card_image02 title='Card title' html_content='...' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h2 class="heading-medium">Linked card with title, description, no image</h2>
        {% card url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
        <pre><code>{% verbatim %}{% card url='#' title='Card title' description='Lorem ipsum...' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium">Labelled linked card with image, title and description</h2>
        {% labelled_card card_id="labelled-card-example-image-title-description" img_src=card_image02 img_alt='Card image description' url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}
        <pre><code>{% verbatim %}{% labelled_card card_id="labelled-card-example-image-title-description" img_src=card_image02 img_alt='Card image description' url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h2 class="heading-medium">Labelled linked card with title and description</h2>
        {% labelled_card url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}
        <pre><code>{% verbatim %}{% labelled_card url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h2 class="heading-medium">Labelled linked card with image and title</h2>
        {% labelled_image_card img_src=card_image02 img_alt='Card title' url='#' title='Card title' %}
        <pre><code>{% verbatim %}{% labelled_image_card img_src=card_image02 img_alt='Card image description' url='#' title='Card title' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h2 class="heading-medium">Labelled linked card with title (if no image is set)</h2>
        <p>This is so that if an image is missing the layout of card grids does not break.</p>
        {% labelled_image_card url='#' title='Card title' %}
        <pre><code>{% verbatim %}{% labelled_image_card url='#' title='Card title' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <h2 class="heading-medium">Flex grid</h2>
    <p class="width-two-thirds">Use the <code>.flex-grid</code> class to align the heights of cards in a grid.</p>
    <div class="flex-grid">
      <div class="column-third">
        {% card url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
      </div>
      <div class="column-two-thirds">
        {% card img_src=card_image01 img_alt='Card image description' url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
      </div>
    </div>

    <div class="flex-grid">
      <div class="column-quarter">
        {% labelled_image_card img_src=card_image02 img_alt='Card image description' url='#' title='Card title' %}
      </div>
      <div class="column-quarter">
        {% labelled_image_card img_src=card_image02 img_alt='Card image description' url='#' title='Card title' %}
      </div>
      <div class="column-half">
        {% card url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
      </div>
    </div>
    <h2 class="heading-large">HTML markup</h2>
    <h4 class="heading-medium">Card</h4>
    <pre><code>
&lt;div class="card"&gt;
  &lt;a class="card-link" href="#"&gt;

  &lt;div
  class="card-image"
  role="image"
  style="background-image: url(/static/images/card_image02.jpg);"
  aria-label="Card image description"
  title="Card image description"&gt;
    &lt;p class="visually-hidden"&gt;Card image description&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class="card-inner"&gt;
    &lt;div class="card-meta"&gt;
      &lt;p class="subheading"&gt;Metadata such as publish date and category can go here&lt;/p&gt;
    &lt;/div&gt;
    &lt;h2 class="heading-large"&gt;Card title&lt;/h2&gt;
    &lt;p class="description"&gt;Card description.&lt;/p&gt;
  &lt;/div&gt;

  &lt;/a&gt;
&lt;/div&gt;
    </code></pre>

    <h4 class="heading-medium">Labelled card</h4>
    <pre><code lang="html">
&lt;a class="labelled-card" href="#"&gt;
  &lt;div class="card-header"&gt;
    &lt;h2 class="title"&gt;Card title&lt;/h2&gt;
  &lt;/div&gt;

  &lt;div class="card-image" role="image" style="background-image: url(/static/images/card_image02.jpg);" aria-label="Card image description" title="Card image description"&gt;
    &lt;p class="visually-hidden"&gt;Card image description&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class="card-inner with-image"&gt;
    &lt;p class="description"&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
  &lt;/div&gt;
&lt;/a&gt;
    </code></pre>

    <h4 class="heading-medium">Image with caption</h4>
    <pre><code lang="html">&lt;figure class="image-with-caption"&gt;
  &lt;img src="img_src" alt="alt_text"&gt;
  &lt;figcaption class="caption"&gt;
    &lt;p class="main-caption"&gt;Main caption&lt;/p&gt;
    &lt;p class="sub-caption"&gt;Secondary caption&lt;/p&gt;
  &lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>

    <a href="{% url 'index' %}" class="link-back link">Go back</a>
  </div>
</section>
{% endblock %}
