{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load banner hero message_box cta_box card labelled_card labelled_image_card from directory_components_tags %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block body_header %}
  {{ block.super }}
  {% include 'directory_components/header_beta_banner.html' %}
{% endblock %}

{% block content %}

{% static 'images/hero02.png' as hero_image %}
{% static 'images/hero01.jpg' as hero_image_domestic %}

<div class="container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Components</h1>

      <h2 class="heading-medium">Beta banner</h2>
      <p>See above.</p>
      <pre><code>{% verbatim %}{% include 'directory_components/header_beta_banner.html' %}{% endverbatim %}</code></pre>

      <h2 class="heading-large">Cookie notice</h2>
      <p>The cookie notice is displayed at the top of every page. When dismissed it will set the cookie ,
        <code>hide_cookie_notice</code>. The JavaScript <code>dit.components.cookie-notice.js</code> will look for that cookie when the page loads. If it finds it, the cookie notice will not display. This JS requires jQuery to run. When JS is disabled in the browser the cookie notice will always be displayed.</p>

      <h3 class="heading-medium">HTML markup</h3>
    </div>
  </div>
  <pre>
    <code>
&lt;div id="header-cookie-notice" class="cookie-notice"&gt;
  &lt;div class="container cookie-notice-container"&gt;
    &lt;p&gt;Great.gov.uk uses cookies to make the site simpler. &lt;a class="link" href="/privacy-and-cookies/"&gt;Find out more about cookies&lt;/a&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
  </pre>
</div>

<section class="background-stone-30">
  <div class="container">
    <h2 class="heading-large">Hero banners</h2>
    <p>Load this template tag to use the hero.</p>
    <pre><code>{% verbatim %}{% load hero from directory_components_tags %}{% endverbatim %}</code></pre>
  </div>

  {% hero background_image_url=hero_image_domestic hero_text="Hero with large title" large_title=True %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero background_image_url=hero_image_domestic hero_text="Components" large_title=True %}{% endverbatim %}</code></pre>
  </div>

  {% hero hero_text="Hero banner with a description" background_image_url=hero_image description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero hero_text="Hero banner with a description" description='Lorem ipsum...' %}{% endverbatim %}</code></pre>
  </div>

  {% hero hero_text="Hero banner with no background image" %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero hero_text="Hero banner with no background image" %}{% endverbatim %}</code></pre>
  </div>

  <div class="container">
    <h2 class="heading-large">HTML markup</h2>
    <h3 class="heading-medium">Hero</h3>
    <pre>
      <code>
&lt;section class="hero hero-generic" style="background-image: url(/static/images/hero02.png)" id="hero"&gt;
  &lt;div class="container"&gt;
    &lt;div class="hero-title-compact"&gt;
      &lt;h1 class="heading-hero-generic-compact" id="hero-heading"&gt;Hero banner with a description&lt;/h1&gt;
      &lt;p class="hero-description" id="hero-description"&gt;Hero banner description.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>

    <h3 class="heading-medium">Hero with large title</h3>
    <pre>
      <code>
&lt;section class="hero hero-generic" style="background-image: url(/static/images/hero01.jpg)" id="hero"&gt;
  &lt;div class="container"&gt;
    &lt;div class="hero-title"&gt;
      &lt;h1 class="heading-hero-generic" id="hero-heading"&gt;Hero with large title&lt;/h1&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>

  </div>
</section>

<section>
  <div class="container">
    <h2 class="heading-large">Banner</h2>
    <p>A dismissible banner that can be used to alert the user to potentially useful information.</p>
    <pre><code>{% verbatim %}{% load banner from directory_components_tags %}

{% banner banner_content='&lt;p&gt;For more information go to &lt;a href="#"&gt;Great.gov.uk&lt;/a&gt;&lt;/p&gt;' badge_content='Information' %}{% endverbatim %}</code></pre>

    {% banner banner_content='<p>For more information go to <a href="#">Great.gov.uk</a></p>' badge_content='Information' %}

    <h3 class="heading-medium">HTML markup</h3>
    <p>The close button is appended to the banner with JavaScript and does not need to be in the template.</p>
    <pre>
      <code>
&lt;div id="information-banner" class="information-banner border-medium border-stone-30 padding-15"&gt;
  &lt;div class="banner-content"&gt;
    &lt;div class="banner-badge"&gt;
      &lt;span class="bold-small background-active-blue white-text"&gt;Banner badge text&lt;/span&gt;
    &lt;/div&gt;
    &lt;div&gt;
      &lt;p class="body-text"&gt;Banner content with a &lt;a class="link" href="#"&gt;link&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
    </pre>

  </div>
</section>

<section class="background-stone-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">Message box</h2>
        <p>A message box to draw attention to important information.</p>
        {% message_box heading='Message box with default style' description='This is some important information.' %}
      </div>
    </div>
    <pre><code>{% verbatim %}{% load message_box from directory_components_tags %}

{% message_box heading='Message box with default style' description='This is some important information.' %}{% endverbatim %}</code></pre>



    <div class="grid-row">
      <div class="column-two-thirds">
        <p>A message box can also be used to display errors.</p>
        {% message_box heading='Error message' description='This is some important information.' heading_class='great-red-text' box_class='border-great-red background-white' %}
      </div>
    </div>
    <pre><code>{% verbatim %}{% message_box heading='Error message' description='This is some important information.' heading_class='great-red-text' box_class='border-great-red background-white' %}{% endverbatim %}</code></pre>

    <h3 class="heading-medium">HTML markup</h3>
    <pre>
      <code>
&lt;div class="message-box padding-30 border-medium border-teal background-white"&gt;
  &lt;h3 class="box-heading heading-medium teal-text"&gt;Message box heading&lt;/h3&gt;
  &lt;p class="box-description"&gt;Message box description.&lt;/p&gt;
&lt;/div&gt;</code>
    </pre>
  </div>
</section>

<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">CTA box</h2>
        <p>CTA boxes can be customised with different button and background colours.</p>
      </div>
    </div>
    {% cta_box box_id='example-cta-box' description='If you still have a question about this service, contact Department for International Trade and one of our experts will try to help you.' button_text='Contact us' button_url='#' %}

    <pre><code>{% verbatim %}{% load cta_box from directory_components_tags %}

{% cta_box box_id='example-cta-box' description='If you still have a question about this service, contact Department for International Trade and one of our experts will try to help you.' button_text='Contact us' button_url='#' %}{% endverbatim %}</code></pre>

    {% cta_box box_id='example-custom-cta-box' heading='CTA box' description='This is a CTA box with a heading and a different button and background style.' button_text='Contact us' button_url='#' button_class='button-ghost-white' box_class='background-great-blue white-text' %}

    <pre><code>{% verbatim %}{% cta_box box_id='example-custom-cta-box' heading='CTA box' description='This is a CTA box with a heading and a different button and background style.' button_text='Contact us' button_url='#' button_class='button-ghost-white' box_class='background-great-blue white-text' %}{% endverbatim %}</code></pre>

    <h3 class="heading-medium">HTML markup</h3>
    <pre>
      <code>
&lt;div id="example-cta-box" class="cta-box padding-45 background-stone-60"&gt;
  &lt;div class="grid-row"&gt;
    &lt;div class="column-half-m column-full"&gt;
      &lt;h3 class="box-heading heading-medium"&gt;Box heading&lt;/h3&gt;
      &lt;p class="box-description"&gt;Box description.&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="column-quarter-xl column-half-m column-full button-container"&gt;
      &lt;a class="button button-blue" href="button url"&gt;Button text&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
    </pre>
  </div>
</section>

<section class="background-stone-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">Cards</h2>
        <p>Cards stretch to fit their container. Grid columns collapse to one on smaller screens.</p>
        <p>Load these template tags to use cards:</p>
      </div>
    </div>
    <pre><code>{% verbatim %}{% load card labelled_card labelled_image_card from directory_components_tags %}{% endverbatim %}</code></pre>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>A custom ID can be assigned to the card which also creates IDs for the link and image with the suffixes <code>-link</code> and <code>-image</code> respectively. See examples below.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-medium">Linked card with image and description</h3>
        {% static 'images/card_image01.jpg' as card_image01 %}
        {% static 'images/card_image02.jpg' as card_image02 %}
        {% card card_id="card-example-image-description" img_src=card_image02 url='#' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
        <pre><code>{% verbatim %}{% card card_id="card-example-image-description" img_src=card_image02 url='#' description='Lorem ipsum dolor sit amet...' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h3 class="heading-medium">Linked card with image and title</h3>
        {% static 'images/card_image01.jpg' as card_image01 %}
        {% static 'images/card_image02.jpg' as card_image02 %}
        {% card card_id="card-example-image-title" img_src=card_image02 url='#' title='Lorem ipsum' %}
        <pre><code>{% verbatim %}{% card card_id="card-example-image-title" img_src=card_image02 url='#' title='Lorem ipsum' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-medium">Unlinked card with image and html content</h3>
        {% static 'images/card_image01.jpg' as card_image01 %}
        {% static 'images/card_image02.jpg' as card_image02 %}
        {% card img_src=card_image02 img_alt='Card image description' title='Card title' html_content='<h4>Card title</h4><p>Cards can also have html content</p><a class="button button-blue">Button</a>' %}
        <pre><code>{% verbatim %}{% card img_src=card_image02 title='Card title' html_content='...' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h3 class="heading-medium">Linked card with title, description, no image</h3>
        {% card url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
        <pre><code>{% verbatim %}{% card url='#' title='Card title' description='Lorem ipsum...' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-medium">Labelled linked card with image, title and description</h3>
        {% labelled_card card_id="labelled-card-example-image-title-description" img_src=card_image02 img_alt='Card image description' url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}
        <pre><code>{% verbatim %}{% labelled_card card_id="labelled-card-example-image-title-description" img_src=card_image02 img_alt='Card image description' url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h3 class="heading-medium">Labelled linked card with title and description</h3>
        {% labelled_card url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}
        <pre><code>{% verbatim %}{% labelled_card url='#' title='Card title' description='Lorem ipsum dolor sit amet.' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-half">
        <h3 class="heading-medium">Labelled linked card with image and title</h3>
        {% labelled_image_card img_src=card_image02 img_alt='Card title' url='#' title='Card title' %}
        <pre><code>{% verbatim %}{% labelled_image_card img_src=card_image02 img_alt='Card image description' url='#' title='Card title' %}{% endverbatim %}</code></pre>
      </div>

      <div class="column-half">
        <h3 class="heading-medium">Labelled linked card with title (if no image is set)</h3>
        <p>This is so that if an image is missing the layout of card grids does not break.</p>
        {% labelled_image_card url='#' title='Card title' %}
        <pre><code>{% verbatim %}{% labelled_image_card url='#' title='Card title' %}{% endverbatim %}</code></pre>
      </div>
    </div>

    <h3 class="heading-medium">Card grid</h3>
    <p>Use the 'card-grid' class to align the heights of cards in a grid.</p>
    <div class="card-grid">
      <div class="column-third">
        {% card url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
      </div>
      <div class="column-two-thirds">
        {% card img_src=card_image01 img_alt='Card image description' url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
      </div>
    </div>

    <div class="card-grid">
      <div class="column-quarter">
        {% labelled_image_card img_src=card_image02 img_alt='Card image description' url='#' title='Card title' %}
      </div>
      <div class="column-quarter">
        {% labelled_image_card img_src=card_image02 img_alt='Card image description' url='#' title='Card title' %}
      </div>
      <div class="column-half">
        {% card url='#' title='Card title' description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}
      </div>
    </div>
    <h3 class="heading-large">HTML markup</h3>
    <h4 class="heading-medium">Card</h4>
    <pre><code>
&lt;div class="card"&gt;
  &lt;a class="card-link" href="#"&gt;

  &lt;div
  class="card-image"
  role="image"
  style="background-image: url(/static/images/card_image02.jpg);"
  aria-label="Card image description"
  title="Card image description"&gt;
    &lt;p class="visually-hidden"&gt;Card image description&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class="card-inner"&gt;
    &lt;div class="card-meta"&gt;
      &lt;p class="subheading"&gt;Metadata such as publish date and category can go here&lt;/p&gt;
    &lt;/div&gt;
    &lt;h3 class="heading-large"&gt;Card title&lt;/h3&gt;
    &lt;p class="description"&gt;Card description.&lt;/p&gt;
  &lt;/div&gt;

  &lt;/a&gt;
&lt;/div&gt;
    </code></pre>

    <h4 class="heading-medium">Labelled card</h4>
    <pre><code lang="html">
&lt;a class="labelled-card" href="#"&gt;
  &lt;div class="card-header"&gt;
    &lt;h3 class="title"&gt;Card title&lt;/h3&gt;
  &lt;/div&gt;

  &lt;div class="card-image" role="image" style="background-image: url(/static/images/card_image02.jpg);" aria-label="Card image description" title="Card image description"&gt;
    &lt;p class="visually-hidden"&gt;Card image description&lt;/p&gt;
  &lt;/div&gt;

  &lt;div class="card-inner with-image"&gt;
    &lt;p class="description"&gt;Lorem ipsum dolor sit amet.&lt;/p&gt;
  &lt;/div&gt;
&lt;/a&gt;
    </code></pre>

    <a href="{% url 'hello-world' %}" class="link-back link">Go back</a>
  </div>
</section>
{% endblock %}
