{% extends 'demo/base.html' %}

{% block head_title %}directory-components{% endblock %}

{% load view_instance_code from demo_tags %}
{% load breadcrumbs render_form from directory_components_tags %}

{% block content %}
<div class="container">
    {% breadcrumbs left_url='/' left_label='Home' right_label='Form errors' %}
</div>

<section class="padding-top-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-half">
        <h1 class="heading-xlarge">Form error examples</h1>
        <p>All the following fields are required. Try submitting the form to see the error messages.</p>
      </div>
    </div>
    <form method="post" action="{% url 'form-errors' %}">
      {% csrf_token %}
      {% render_form form %}
      <input class="button" type="submit" value="Submit" />
    </form>

    <a href="{% url 'index' %}" class="link link-back">Go back</a>
  </div>
</section>

{% endblock %}
