{% extends 'demo/base.html' %}

{% block head_title %}directory-components{% endblock %}

{% load view_instance_code from demo_tags %}
{% load render_form from directory_components_tags %}

{% block content %}
<section>
  <div class="container">

      <h1 class="heading-xlarge">Form error examples</h1>
      <p>All the following fields are required. Try submitting the form to see the error messages.</p>

      <section>
          <form method="post" action="{% url 'form-errors' %}">
            {% csrf_token %}
            {% render_form form %}
            <input class="button" type="submit" value="Submit" />
          </form>
      </section>

    <a href="{% url 'hello-world' %}" class="link link-back">Go back</a>
  </div>
</section>

{% endblock %}
