{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load breadcrumbs banner hero message_box cta_box card labelled_card labelled_image_card hero_with_cta case_study full_width_image_with_list_and_media add_export_elements_classes from directory_components %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

{% static 'images/hero02.png' as hero_image %}
{% static 'images/hero01.jpg' as hero_image_domestic %}
{% static 'images/placeholder.png' as placeholder %}
{% static 'images/hero04.jpg' as dark_hero %}
{% static 'images/card_image01.jpg' as half_image %}
{% static 'videos/hpo-food-video.mp4' as half_video %}

<div class="container">
  {% breadcrumbs 'Full width banners' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>

<section class="padding-top-30">
  <div class="container">
    <div class="width-two-thirds">
      <h1 class="heading-xlarge">Full width banners</h1>
      <h2 class="heading-large">Hero</h2>
      <p>Load this template tag to use the hero.</p>
    </div>
    <pre><code>{% verbatim %}{% load hero from directory_components %}{% endverbatim %}</code></pre>
  </div>

  {% hero background_image_url=hero_image_domestic hero_text="Large title" large_title=True %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero background_image_url=hero_image_domestic hero_text="Large title" large_title=True %}{% endverbatim %}</code></pre>
    <p class="width-two-thirds">Use the hero with large title for when the title is very short. If CMS content is being used, a character count can be done on the title field to decide whether to pass <code>large_title=True</code> to the template.</p>
  </div>

  {% hero background_image_url=hero_image hero_subheading="Exporting to" hero_text="Germany" large_title=True %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero background_image_url=hero_image_domestic hero_subheading="Exporting to" hero_text="Germany" large_title=True %}{% endverbatim %}</code></pre>
    <p>Hero title can also be split into heading and subheading.</p>
  </div>

  {% hero background_image_url=hero_image_domestic hero_subheading="Exporting to" hero_text="Germany" %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero background_image_url=hero_image_domestic hero_subheading="Exporting to" hero_text="Germany" %}{% endverbatim %}</code></pre>
    <p class="width-two-thirds">Compact version.</p>
  </div>

  {% hero hero_text="Hero banner with a description" background_image_url=hero_image description='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero hero_text="Hero banner with a description" description='Lorem ipsum...' %}{% endverbatim %}</code></pre>
  </div>

  {% hero hero_text="Hero banner with no background image" %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero hero_text="Hero banner with no background image" %}{% endverbatim %}</code></pre>
  </div>

  {% hero_with_cta heading="Hero banner with CTA." subheading="For two line cases." subtitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." img_url=placeholder cta_text="Continue" cta_link="www.google.com" %}

  <div class="container">
    <pre><code>{% verbatim %}{% hero_with_cta heading="Hero banner with cta." subheading="For two line cases." subtitle="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." img_url=placeholder cta_text="continue" cta_link="www.google.com" %}{% endverbatim %}</code></pre>
  </div>

 {% case_study background_image=placeholder heading='Full width banner with a subtitle and CTA' subtitle='This component works best with a dark background image or an image where the left side is darker than the right so that this white text is legible. On tablet and smaller the image is displayed separately from the text.'  cta_link='/'  cta_text='Continue' %}

  <div class="container">
    <pre><code>{% verbatim %} {% case_study background_image=placeholder heading='Heading text' subtitle='Lorem ipsum dolor sit amet ...'  cta_link='/'  cta_text='Continue' %}{% endverbatim %}</code></pre>
  </div>

 {% case_study background_tint=True background_image=hero_image_domestic heading='Full width banner with subtitle, CTA, and background tint' subtitle='If an image is too bright a background tint can be used to make text more legible. On tablet and smaller it displays the same as above.'  cta_link='www.google.com'  cta_text='Continue' %}

  <div class="container">
    <pre><code>{% verbatim %} {% case_study background_tint=True background_image=hero_image_domestic heading='Heading text' subtitle='Lorem ipsum dolor sit amet ...'  cta_link='/'  cta_text='Continue' %}{% endverbatim %}</code></pre>
  </div>

  <div class="container">
    <h3 class="heading-large"> Full width image with a list of items and an optional image or video</h3>
    <p>The intro is expected to be a mark down field</p>
    <p>The list of items are expected to be a dictionary with a title and text</p>

    <pre><code>{% verbatim %}items_list=[
    {
        'title': 'Item One Title',
        'text': '&lt;p>Lorem ipsum ... &lt;a href="/full-width-banners/">Learn more.&lt;/a>&lt;/p>'
    },
    {
        'title': 'Item Two Title',
        'text': '&lt;p>Lorem ipsum ... &lt;a href="/full-width-banners/">Learn more.&lt;/a>&lt;/p>'
    },
]{% endverbatim %}</code></pre>

  </div>

  {% full_width_image_with_list_and_media title="Full width image with a list of items" background_image=dark_hero intro=paragraph items_list=items_list %}

  <div class="container">
    <pre><code>{% verbatim %} {% full_width_image_with_list_and_media title="Full width image with a list of items" background_image=dark_hero intro=paragraph items_list=items_list %}{% endverbatim %}</code></pre>
  </div>

  {% full_width_image_with_list_and_media title="Full width image with a list of items and an image" background_image=dark_hero image=half_image intro=paragraph items_list=items_list %}

  <div class="container">
    <pre><code>{% verbatim %} {% full_width_image_with_list_and_media title="Full width image with a list of items and an image" background_image=dark_hero image=half_image intro=paragraph items_list=items_list %}{% endverbatim %}</code></pre>
  </div>

  {% full_width_image_with_list_and_media title="Full width image with a list of items and a video" background_image=dark_hero video=half_video intro=paragraph items_list=items_list %}

  <div class="container">
    <pre><code>{% verbatim %} {% full_width_image_with_list_and_media title="Full width image with a list of items and a video" background_image=dark_hero image=half_video intro=paragraph items_list=items_list %}{% endverbatim %}</code></pre>
  </div>

  <div class="container">
    <h2 class="heading-large">HTML markup</h2>
    <h3 class="heading-medium">Hero</h3>
    <pre>
      <code>&lt;section class="hero hero-generic" style="background-image: url(/static/images/hero02.png)" id="hero"&gt;
  &lt;div class="container"&gt;
    &lt;div class="hero-title-compact"&gt;
      &lt;h1 class="heading-hero-generic-compact" id="hero-heading"&gt;Hero banner with a description&lt;/h1&gt;
      &lt;p class="hero-description" id="hero-description"&gt;Hero banner description.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>

    <h3 class="heading-medium">Hero with large title</h3>
    <pre>
      <code>&lt;section class="hero hero-generic" style="background-image: url(/static/images/hero01.jpg)" id="hero"&gt;
  &lt;div class="container"&gt;
    &lt;div class="hero-title"&gt;
      &lt;h1 class="heading-hero-generic" id="hero-heading"&gt;Hero with large title&lt;/h1&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>

    <h3 class="heading-medium">Hero with large title and subheading</h3>
    <pre>
      <code>&lt;section class="hero hero-generic" style="background-image: url(/static/images/hero02.png)" id="hero"&gt;
  &lt;div class="container"&gt;
    &lt;div class="hero-title"&gt;
        &lt;h1 id="hero-heading" class="heading-hero-generic with-subheading"&gt;
          &lt;span class="hero-subheading"&gt;Exporting to&lt;/span&gt;
          &lt;span&gt;Germany&lt;/span&gt;
        &lt;/h1&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>

    <h3 class="heading-medium">Full width banner with a subtitle and CTA</h3>
    <pre>
      <code>&lt;section class="case-study " style="background-image: url(/static/images/placeholder.png)"&gt;
  &lt;div class="container"&gt;
    &lt;div class="grid-row"&gt;
      &lt;div class="column-full column-two-thirds-l column-half-xl"&gt;
        &lt;div class="width-half-all border-thin border-flag-red"&gt;&lt;/div&gt;
        &lt;h2 class="heading-large"&gt;Heading&lt;/h2&gt;
        &lt;img class="only-display-tablet width-full margin-bottom-15" src="/static/images/placeholder.png" alt=""&gt;
        &lt;p&gt;Lorem ipsum.&lt;/p&gt;
        &lt;a class="button button-arrow-small margin-top-15-l" href="/"&gt;Continue&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>

    <h3 class="heading-medium">Full width banner with a subtitle, CTA and background tint</h3>
    <pre>
      <code>&lt;section class="case-study background-tint" style="background-image: url(/static/images/hero01.jpg)"&gt;
  &lt;div class="container"&gt;
    &lt;div class="grid-row"&gt;
      &lt;div class="column-full column-two-thirds-l column-half-xl"&gt;
        &lt;div class="width-half-all border-thin border-flag-red"&gt;&lt;/div&gt;
        &lt;h2 class="heading-large"&gt;Heading&lt;/h2&gt;
        &lt;img class="only-display-tablet width-full margin-bottom-15" src="/static/images/hero01.jpg" alt=""&gt;
        &lt;p&gt;Lorem ipsum.&lt;/p&gt;
        &lt;a class="button button-arrow-small margin-top-15-l" href="/"&gt;Continue&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;</code>
    </pre>
  </div>
</section>
{% endblock %}
