{% extends 'demo/great-domestic-header-footer.html' %}
{% load static %}

{% block body_header %}
    {% include 'directory_components/header_footer_v2/domestic_header_with_search.html' %}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Great.gov.uk domestic header and footer with search box</h1>
        <a href="{% url 'index' %}" class="link-back link">Go back</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
