{% extends 'demo/base.html' %}

{% block head_title %}directory-components{% endblock %}

{% block content %}
<section class="hello-world padding-top-30">
  <div class="container">
    <div class="width-two-thirds">

      <h1 class="heading-xlarge">directory-components</h1>

      <p>Hello, world! This is the demo page for <a href="https://github.com/uktrade/directory-components" class="link" title="Go to directory-components on GitHub" target="_blank" rel="noopener noreferrer">directory-components</a>. From here you can preview all the components that can be used when you import this module and its CSS counterpart <a class="link" href="https://github.com/uktrade/export-elements" title="Go to export-elements on GitHub" target="_blank" rel="noopener noreferrer">export-elements</a>.</p>

      <h2 class="heading-medium">Contents</h2>

      <ul class="list list-bullet" aria-labelledby="pages">
        <h3 class="heading-small" id="pages">Pages:</h3>
        <li><a class="link" href="{% url '404' %}">404 error page</a></li>
      </ul>

      <ul class="list list-bullet" aria-labelledby="forms">
        <h3 class="heading-small" id="forms">Forms:</h3>
        <li><a class="link" href="{% url 'widgets' %}">Form widgets</a></li>
        <li><a class="link" href="{% url 'form-errors' %}">Form errors demo</a></li>
      </ul>

      <ul class="list list-bullet" aria-labelledby="forms">
        <h3 class="heading-small" id="forms">Styling:</h3>
        <li><a class="link" href="{% url 'template-tags' %}">Template tags</a></li>
        <li><a class="link" href="{% url 'elements' %}">Elements & utility classes</a></li>
        <li><a class="link" href="{% url 'responsive' %}">Responsive classes</a></li>
      </ul>

      <ul class="list list-bullet" aria-labelledby="components">
        <h3 class="heading-small" id="components">Components:</h3>
        <li><a class="link" href="{% url 'hero-banner' %}">Hero banner</a></li>
        <li><a class="link" href="{% url 'banners' %}">Information banners</a></li>
        <li><a class="link" href="{% url 'cards' %}">Cards</a></li>
        <li><a class="link" href="{% url 'buttons' %}">Buttons</a></li>
      </ul>

      <ul class="list list-bullet" aria-labelledby="header-footer">
        <h3 class="heading-small" id="header-footer">Headers and footers</h3>
        <li><a class="link" href="{% url 'great-header-footer' %}">Great.gov.uk header and footer</a></li>
        <li><a class="link" href="{% url 'invest-header-footer' %}">Invest header and footer</a></li>
      </ul>

    </div>
  </div>
</section>

{% endblock %}
