{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            .js-disabled-only { display: none; }
        </style>
        <noscript>
          <link href="{% static 'export_elements/stylesheets/elements-components-no-js.min.css' %}" media="all" rel="stylesheet" />
            <style type="text/css">
                .navigation-toggle { display: block; }
                .js-disabled-only { display: block; }
                .js-enabled-only { display: none; }
            </style>
        </noscript>

        {% block head_js %}
            <script src="{% static 'directory_components/js/third-party.js' %}"></script>
            <script src="{% static 'directory_components/js/script.js' %}"></script>
        {% endblock %}

        <link href="{% static 'export_elements/stylesheets/govuk-elements-styles.min.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'export_elements/stylesheets/elements-components.min.css' %}" media="all" rel="stylesheet" />
    </head>

    <body>
        {% include 'directory_components/header_footer/invest_header.html' %}
        <main id="content" role="main">
            <section>
              <div class="container">
                <div class="grid-row">
                  <div class="column-two-thirds">
                    <h1 class="heading-xlarge">Invest</h1>
                  </div>
                </div>
              </div>
            </section>
        </main>
        {% include 'directory_components/header_footer/invest_footer.html' %}
    </body>
</html>
