{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}
{% load directory_components %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

<div class="container">
  {% breadcrumbs 'Lazyload' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>

<section>
  <div class="container">
    <h1 class="heading-xlarge">Lazyload</h1>
    <p class="width-half">Include a single image element in the body of the tag. Use it so that images will load after the rest of the page loads to increase page load times.</p>

<pre><code>{% verbatim %}{% lazyload %}
  &lt;img src="/foo" /&gt;
{% endlazyload %}{% endverbatim %}
</code></pre>

    <p class="width-half">For background-image elements, you need to make sure it's the child of a noscript element, and the noscript element is the only child of a parent container. The lazysizes library will move the div out of the noscript tags when the user scrolls near.</p>

<pre><code>{% verbatim %}&lt;div class="lazyload ls-noscript" data-noscript="" aria-hidden="true">
  &lt;noscript>
    &lt;div style="background-image: url('{{ img_url }}')">&lt;/div>
  &lt;/noscript>
&lt;/div>{% endverbatim %}
</code></pre>

  </div>
</section>
{% endblock %}