{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}article{% endblock css_layout_class %}

{% block content %}
<section>
  <article>
    <div class="container">
      {% include 'directory_components/breadcrumbs.html' with parent_sections=parent_sections current_page=current_page %}

      <header>
        <div class="grid-row">
          <div class="column-sixth">
            {% include 'directory_components/social_share_links.html' %}
          </div>
          <div class="column-seven-twelfths">
            <p class="subheading">{{ parent_sections.0.title }} - {{ parent_sections.1.title }}</p>
            <h1 class="heading-xlarge">Research your market</h1>
            <p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="subheading">Published 01 June 2018</p>
            <p class="subheading">Last updated 01 June 2018</p>
          </div>

          <div class="column-quarter">
            <div class="panel-vertical-narrow">
              <h2 class="heading-small">Tags</h2>
              <ul class="tag-list">
                <li>
                  <a href="#" class="link">Tag one</a>
                </li>
                <li>
                  <a href="#" class="link">Tag two</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <div class="grid-row">
        <div class="column-three-quarters">
          <img src="{% static 'images/card_image01.jpg' %}" alt="" width="100%">
          <section class="article-content">
            {% include 'demo/article_content.html' %}
            <a href="{% url 'hello-world' %}" class="link link-back">Go back</a>
          </section>
        </div>

        <div class="column-quarter">
          <div class="panel-vertical-narrow content-list">
            <h2 class="heading heading-small">Related content</h2>
            <ul>
              <li>
                <p class="subheading">Section name</p>
                <h3 class="heading-small"><a href="#" class="link">Very long title for related article</a></h3>
              </li>
              <li>
                <p class="subheading">Section name</p>
                <h3 class="heading-small"><a href="#" class="link">Very long title for related article</a></h3>
                <h3 class="heading-small"><a href="#" class="link">Very long title for related article</a></h3>
              </li>
              <li>
                <p class="subheading">Section name</p>
                <h3 class="heading-small"><a href="#" class="link">Very long title for related article</a></h3>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </article>
</section>
<section class="related-content">
    <div class="container">
      <h2 class="heading-large">Related content</h2>
      <div class="grid-row">
        {% for i in "x"|rjust:"3" %}
          <div class="column-third">
            <div class="card ">
              <a class="card-link" href="#">
                <div class="card-inner">
                  <div class="card-meta">
                    <p class="subheading">Published 1 June 2018</p>
                    <p class="subheading">{{ parent_sections.0.title }} - {{ parent_sections.1.title }}</p>
                  </div>
                  <h3>Create a business profile.</h3>
                  <p class="description">Create your free business profile and promote your company to overseas buyers.</p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}
