{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}

{% block head_title %}directory-components{% endblock %}

{% block css_layout_class %}guidance-list{% endblock css_layout_class %}

{% block content %}

{% static 'images/hero03.png' as hero_image %}

{% include 'directory_components/hero.html' with background_image_url=hero_image hero_text="Guidance" description="Find information on the areas of exporting you’re dealing with as and when you need it." %}

<div class="container">
  {% include 'directory_components/breadcrumbs.html' with parent_site=page.parent_site parent_sections=page.parent_sections current_page=page.current_page %}
</div>

{% url 'prototype-article' as market_research_url %}

<section class="guidance-list-cards background-stone">
    <div class="container">
      <div class="card-grid">
        {% for section in page.guidance_sections %}
          <div class="column-third">
            {% include 'directory_components/card_with_icon.html' with img_src=section.icon_url url=section.article_url title=section.title description=section.description %}
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<section>
  <div class="container">
    <a href="{% url 'hello-world' %}" class="link link-back">Go back</a>
  </div>
</section>
{% endblock %}
