{% extends 'demo/base.html' %}

{% load static %}
{% load demo_tags %}

{% block head_title %}directory-components{% endblock %}

{% block content %}

<section>
  <div class="container">
    <h1 class="heading-xlarge">Responsive grid</h1>
    <p>Column widths are mobile first.</p>

    <h2 class="heading-medium">.grid-row</h2>
    <div class="grid-row">
      <div class="column-third-m column-half-l column-quarter-xl">
        {% include 'directory_components/card.html' with html_content='<p>column-third-m</p><p>column-half-l</p><p>column-quarter-xl</p>' %}
      </div>
      <div class="column-half-xl column-quarter-l column-third">
        {% include 'directory_components/card.html' with html_content='<p>column-half-xl</p><p>column-quarter-l</p><p>column-third</p>' %}
      </div>
      <div class="column-quarter">
        {% include 'directory_components/card.html' with html_content='<p>column-quarter</p>' %}
      </div>
    </div>

    <h2 class="heading-medium">.card-grid</h2>
    <div class="card-grid">
      <div class="column-third-m column-half-l column-quarter-xl">
        {% include 'directory_components/card.html' with html_content='<p>column-third-m</p><p>column-half-l</p><p>column-quarter-xl</p>' %}
      </div>
      <div class="column-third-m column-half-l column-quarter-xl">
        {% include 'directory_components/card.html' with html_content='<p>column-third-m</p><p>column-half-l</p><p>column-quarter-xl</p>' %}
      </div>
      <div class="column-third-m column-half-l column-quarter-xl">
        {% include 'directory_components/card.html' with html_content='<p>column-third-m</p><p>column-half-l</p><p>column-quarter-xl</p>' %}
      </div>
      <div class="column-third-m column-half-l column-quarter-xl">
        {% include 'directory_components/card.html' with html_content='<p>column-third-m</p><p>column-half-l</p><p>column-quarter-xl</p>' %}
      </div>
    </div>
    <a href="{% url 'hello-world' %}" class="link link-back">Go back</a>
  </div>
</section>
{% endblock %}
