{% extends 'demo/base.html' %}

{% load static %}
{% load i18n %}
{% load demo_tags %}
{% load breadcrumbs search_page_selected_filters search_page_expandable_options from directory_components %}

{% block css_layout_class %}components{% endblock css_layout_class %}

{% block content %}

<div class="container">
  {% breadcrumbs 'Search page components' %}<a href="/">Home</a>{% endbreadcrumbs %}
</div>

<div class="container">
    <h1 class="heading-xlarge">Search page components</h1>

    <h2 class="heading-medium">Selected filters</h2>

    <pre><code>{% verbatim %}{% load search_page_selected_filters from directory_components %}

&lt;div class="grid-row"&gt;
    &lt;div class="column-quarter"&gt;
        {% search_page_selected_filters filters=filters clear_all_link="/" %}
    &lt;/div&gt;
&lt;/div&gt;{% endverbatim %}</code></pre>

    <span> The 'filters' being passed in should be a list of the options that have been selected</span><br><br>

    <div class="grid-row">
        <div class="column-quarter">
            {% search_page_selected_filters filters=filters clear_all_link="/" %}
        </div>
    </div>

    <h2 class="heading-medium">Expandable options</h2>

    <pre><code>{% verbatim %}{% load search_page_expandable_options from directory_components %}

&lt;div class="grid-row"&gt;
    &lt;div class="column-quarter"&gt;
        {% search_page_expandable_options label='Sectors' field=form.colours %}
    &lt;/div&gt;
&lt;/div&gt;{% endverbatim %}</code></pre>

To get the checkboxes, the form should use:<pre><code>{% verbatim %}colours = fields.MultipleChoiceField(
    widget=widgets.CheckboxSelectInlineLabelMultiple(
        attrs={'id': 'checkbox-multiple'},
        use_nice_ids=True,
    ),{% endverbatim %}</code></pre>

The options should be a list of tuples:
<pre><code>{% verbatim %}   choices=(
        ('red', 'Red'),
        ('green', 'Green'),
        ('blue', 'Blue'),
    )
){% endverbatim %}</code></pre>

    <div class="grid-row">
        <div class="column-quarter">
            {% search_page_expandable_options label='Colours' field=form.multiple_choice %}
        </div>
    </div>


    <div class="grid-row">
        <h2 class="heading-large">Related components</h2>
        <div class="column-quarter">
            <a class="link" href="{% url 'pagination' %}">Pagination</a>
        </div>
    </div>


</div>
{% endblock %}

{% block body_js %}
<script type="text/javascript">

  function handleExpandableOptions(event) {
    var element = event.target;
    element.classList.toggle('checked');
    var formGroup = document.getElementById(element.getAttribute('aria-controls'));
    formGroup.setAttribute('aria-expanded', !(formGroup.getAttribute('aria-expanded') == 'true'));
  }
  var elements = document.getElementsByClassName('filter-collapse');
  for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener('click', handleExpandableOptions);
  }
</script>
{% endblock %}
