{% extends 'demo/base.html' %}

{% block head_title %}directory-components{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">Form widgets examples</h1>

        <p><code>CheckboxWithInlineLabel</code> and <code>CheckboxSelectInlineLabelMultiple</code></p>

        <form>
          {% csrf_token %}
          <div class="form-group">
            {% for field in form %}
            <div class="form-group">
                {% if field.label %}
                  <legend class="form-label"{% if field.id %} for="{{ field.id }}" id="{{ field.id }}-label"{% endif %}>
                    <span class="form-label">{{ field.label }}</span>
                    {% if field.help_text %}
                        <span class="form-hint">{{ field.help_text|safe }}</span>
                    {% endif %}
                  </legend>
                {% endif %}
                {{ field }}
              </div>
            {% endfor %}
            <input class="button" type="submit" value="Submit" />
          </div>
        </form>

      </div>
    </div>
    <a href="/" class="link link-back">Go back</a>
  </div>
</section>

{% endblock %}
