body {
  margin: 0;
  padding: 0;
}

#content {
  padding-top: 0;
}

code {
	white-space: pre;
  overflow-x: scroll;
  display: block;
  padding: 15px;
  margin: 30px 0;
  background-color: #f5f2ed;
  border: 1px solid #dfd5c5;
  border-radius: 5px;
}

article.grid-row {
	margin-bottom: 100px;
}
