body {
  margin: 0;
  padding: 0;
}

.background-stone {
  background-color: #f5f2ed;
}

code {
  white-space: pre-wrap;
  overflow: auto;
  height: auto;
  display: block;
  padding: 15px;
  margin: 30px 0;
  background-color: #f5f2ed;
  border: 1px solid #dfd5c5;
  border-radius: 5px;
}

article.grid-row {
  margin-bottom: 100px;
}

.article-content {
  margin-left: calc(100% / 9 * 2);
  padding-top: 2em;
  line-height: 1.75;
}

article header .column-seven-twelfths {
  padding-bottom: 1em;
}

article header .heading-xlarge {
  margin-top: 0.2em;
}

.related-content {
  background-color: #F5F2ED;
  padding-top: 30px;
}

.related-content .container {
  overflow: auto;
}

#content.guidance-list,
#content.article,
#content.components {
  padding-top: 0;
}

.guidance-list-cards {
  padding: 3em 0;
}

@media (max-width: 860px) {
  .guidance-list .column-third {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .guidance-list .column-third {
    width: 100%;
  }

  .article-content {
    margin-left: 0;
  }
}
