body {
  margin: 0;
  padding: 0;
}

pre {
  display: block;
  background-color: #fcfbf9;
  border: 1px solid #dfd5c5;
  margin: 30px 0;
  border-radius: 5px;
  padding: 15px;
    white-space: pre-wrap;
}

.colour-examples p {
  margin: 0;
}

#content {
  margin-top: -4px;
  padding-top: 2em;
}

.demo-header {
  position: relative;
}

.demo-header > .header-main,
.demo-footer > .footer-main {
  background-color: #1e1348;
}

.demo-header .header-main > .container {
  padding: 15px 0;
}

.demo-footer .footer-main > .container {
  padding: 90px 0;
}

.demo-footer .copyright {
  color: #d8d8d8;
  float: right;
  height: 70px;
  font-size: 15px;
}

.demo-footer .copyright p {
  margin-top: 50px;
  margin-bottom: 0;
}

.red-border {
  height: 4px;
  background-color: #b00d23;
}

.demo-header .home-link:hover {
  text-decoration: underline;
}

.demo-header .home-link {
  color: white;
  text-decoration: none;
  margin: 20px 0;
  font-family: 'Overpass';
  display: inline;
}

.demo-header .home-link-container {
  float: right;
  margin-top: 20px;
  width: 50%;
}

.demo-header ul li {
  display: inline-block;
}

@media (max-width: 640px) {
  .demo-footer .copyright {
    font-size: 13px;
  }

  .header-footer-logo {
    height: 60px;
  }

  .demo-footer .copyright p {
    margin-top: 15px;
  }
}

/* Prototype pages
===================
*/

article.grid-row {
  margin-bottom: 100px;
}

.article-content {
  margin-left: calc(100% / 9 * 2);
  padding-top: 2em;
  line-height: 1.75;
}

article header .column-seven-twelfths {
  padding-bottom: 1em;
}

article header .heading-xlarge {
  margin-top: 0.2em;
}

.related-content {
  background-color: #F5F2ED;
  padding-top: 30px;
}

.related-content .container {
  overflow: auto;
}

#content.guidance-list,
#content.article {
  padding-top: 0;
}

.guidance-list-cards {
  padding: 3em 0;
}

@media (max-width: 860px) {
  .guidance-list .column-third {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .guidance-list .column-third {
    width: 100%;
  }

  .article-content {
    margin-left: 0;
  }
}
