
// HEADER
// =======

// base styling. JS disabled

@import '../partials/typography';
@import '../partials/colours';
@import '../partials/mixins';

.great-header {
  // need to make sure it's not underneath anything
  position: relative;
  z-index: 5;

  // fix for SOO
  .great-header-nav {
    a.link,
    a.link:hover {
      margin-bottom: 0;
      border: 0;
    }
  }

  a {
    &:active:focus {
      background-color: $focus-yellow;
      color: $great-blue;
    }

    &:focus {
      @include focus
    }
  }
}

// links in global header
.great-domestic-international-links {
  a {
    color: $mid-grey;
  }

  .active {
    color: $great-blue;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $flag-red;
      content: '';
    }
  }
}

#great-header-menu-mobile-anchor {
  position: fixed;
}

// main header menu
.great-header-menu {
  background-color: $great-blue;

  .container {
    //padding: 25px 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.great-header-logo {
  line-height: 0;
  margin: 30px 0;
}

// language/country select and account links
.great-header-extra-links {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 14px;
  color: $white;

  & > * {
    display: inline-block;
    margin-right: 5px;
  }

  li {
    display: inline-block;
  }

  ul:first-child li {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-left: 15px;
    }

    &:active:focus span {
      color: $great-blue;
    }
  }

  .lang,
  .country,
  .account-link {
    color: $stone;
    margin-left: 5px;
  }

  .lang {
    text-transform: uppercase;
  }
}

.great-header-nav-container {
  align-self: flex-end;
}

.great-header-nav {
  max-width: 1200px;
  margin: 0 auto;
}

@import 'mobile-header';

@media (max-width: 420px) {
  .great-header-nav {
    margin: 0 20px;
  }
}
