
// Header No JS Styling

@import '../../sass/partials/spacings';
@import '../../sass/partials/colours';

.header-beta-bar {
  background: $white;
}

#header-bar {
  background: $great-blue;
}

#menu {
  height: auto;
  margin-top: $spacing-3;
  background: none;
}

#header {
  min-height: 0;
}

#header-menu {
  padding-bottom: $spacing-4;
  margin-top: 0;
  height: auto;
  background: $white;

  .container {
    overflow: auto;
  }

  ul li {
    padding-right: $spacing-4;
    box-sizing: border-box;
    float: left;

    a {
      padding: 0;
      display: inline;
    }

    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: calc(70% / 3);
    }

    &:nth-child(1) a.navigation,
    &:nth-child(2) a.navigation {
      text-decoration: underline;
      color: $active-blue;
      font-size: 19px;
      font-weight: 400;
    }

    &:nth-child(1) a.navigation:active,
    &:nth-child(2) a.navigation:active {
      background-color: $focus-yellow;
    }

    &:nth-child(1) a.navigation:visited,
    &:nth-child(2) a.navigation:visited {
      color: $purple;
    }

    &:nth-child(1) a.navigation:hover,
    &:nth-child(2) a.navigation:hover {
      background: none;
      color: $light-blue;
    }

    &:nth-child(5) p {
      display: none;
    }
  }

  ul.links-list li.links-list-item {
    width: 100%;
  }

  .links-list-item {
    width: 100%;
    padding: 0;
    min-height: 0;
    background: none;
    margin-bottom: $spacing-4;

    &:before {
      display: none;
    }

    a {
      text-decoration: underline;
      color: $active-blue;
      min-height: 0;
      margin: 3px 3px 3px 0;
      padding: 0;

      span {
        min-height: auto;
      }

      &:visited {
        color: $purple;
      }

      &:active {
        background-color: $focus-yellow;
      }

      &:hover {
        background: none;
        color: $light-blue;
      }
    }

  }

  .links-list.container {
    margin-top: $spacing-4;
  }

  .navigation:hover {
    background: none;

    &:before {
      display: none;
    }
  }

  .navigation.links-list-heading {
    border: 0;
    color: $black;
    margin-bottom: $spacing-4;
    font-size: 24px;
    font-weight: 700;

    &:after {
      display: none;
    }
  }

}

@media screen and (max-width: 767px) {
  #header {
    padding: 0;
  }

  #menu {
    margin-top: 0;
    padding: 0 $spacing-4;
    overflow: hidden;
  }

  #header-bar {
    .account-links {
      li:nth-child(2):after {
        display: none;
      }

      li:nth-child(3) {
        margin-left: $spacing-4;

        a {
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }


  #header-menu {
    margin-top: -50px;
    padding-bottom: $spacing-3;

    a {
      border: 0;
      cursor: pointer;
    }

    ul.links-list li.links-list-item {
      width: auto;
      display: inline;
      margin-right: 10px;
    }

    ul.links-list {
      li:last-child {
        margin-bottom: $spacing-4;
      }
    }

    ul li {
      &:nth-child(1) {
        width: auto;
      }

      &:nth-child(2) {
        width: auto;
        margin-bottom: $spacing-4;
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 100%;
      }

      &:nth-child(1) a.navigation,
      &:nth-child(2) a.navigation {
        text-decoration: underline;
        color: $active-blue;
        font-size: 15px;
        font-weight: 400;
      }

      &:nth-child(1) a.navigation:active,
      &:nth-child(2) a.navigation:active {
        background-color: $focus-yellow;
      }

      &:nth-child(1) a.navigation:visited,
      &:nth-child(2) a.navigation:visited {
        color: $purple;
      }

      &:nth-child(1) a.navigation:hover,
      &:nth-child(2) a.navigation:hover {
        background: none;
        color: $light-blue;
      }

      &:nth-child(5) p {
        display: none;
      }
    }

    .links-list-item {
      a {
        font-size: 15px;
      }
    }

    .navigation.links-list-heading {
      font-size: 19px;
    }
  }

}

@media screen and (max-width: 470px) {
  #header-dit-logo {
    margin-top: 35px;

    img {
      max-width: 126px;
    }
  }
}

@media screen and (max-width: 360px) {
  #header-bar .account-links li {
    margin-left: 0;

    &:nth-child(3) {
      float: right;
    }
  }
}
