
// HEADER
// =======

@import '../partials/typography';
@import '../partials/colours';
@import '../partials/mixins';

.great-header {
  // need to make sure it's not underneath anything
  position: relative;
  z-index: 5;

  // fix for SOO
  .great-header-nav {
    a.link,
    a.link:hover {
      margin-bottom: 0;
      border: 0;
    }
  }

  a {
    &:active:focus {
      background-color: $focus-yellow;
      color: $great-blue;
    }

    &:focus {
      @include focus
    }
  }
}

.great-global-header {
  @include float-clear;
  height: auto;
}

// links in global header
.great-domestic-international-links {
  a {
    color: $mid-grey;
  }

  .active {
    color: $great-blue;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $flag-red;
      content: '';
    }
  }
}

#great-header-menu-mobile-anchor {
  position: fixed;

  &:target {
    &~#great-header-menu-mobile {
      display: block;
      @media(min-width: 769px) {
        display: none;
      }
    }
    &~#great-header-menu #mobile-menu-button {
      display: none;
    }
    &~#great-header-menu #mobile-menu-button-close {
      display: block;
      @media(min-width: 769px) {
        display: none;
      }
    }
  }
}

// main header menu
.great-header-menu {
  background-color: $great-blue;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.great-header-logo {
  line-height: 0;
  margin: 30px 0;
}

// language/country select and account links
.great-header-extra-links {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 14px;
  color: $white;

  & > * {
    display: inline-block;
    margin-right: 5px;
  }

  li {
    display: inline-block;
  }

  ul:first-child li {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-left: 15px;
    }

    &:active:focus span {
      color: $great-blue;
    }
  }

  .lang,
  .country,
  .account-link {
    color: $stone;
    margin-left: 5px;
  }

  .lang {
    text-transform: uppercase;
  }
}

.great-header-nav-container {
  align-self: flex-end;

  .mobile-menu-button {
    display: block;
    color: inherit;
    background: transparent;
    border: 2px solid $white;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 10px;
    margin-bottom: 25px;

    @media(min-width: 769px) {
      display: none;
    }

    &#mobile-menu-button-close {
      display: none;
    }
  }
}

.mobile-menu-button {
  display: block;
  color: inherit;
  background: transparent;
  border: 2px solid $white;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 10px;
  margin-bottom: 25px;

  @media(min-width: 769px) {
    display: none;
  }

  &#mobile-menu-button-close {
    display: none;
  }
}

.great-header-nav {
  max-width: 1200px;
  display: none;
  margin: 0;

  @media(min-width: 769px) {
    display: block;
  }

  .great-header-nav-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .link-heading {
      position: relative;
      padding: 15px;
      margin-bottom: 10px;
      display: block;
    }

    .main-nav-item {
      font-size: 19px;
      line-height: 1;

      &:last-child {
        .sub-nav {
          right: 0;
        }

        li {
          text-align: right;
        }
      }

      &.active .link-heading:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 4px;
        background-color: $great-red;
        content: '';
      }

      .sub-nav {
        top: 100%;
        position: absolute;
        display: flex;
      }

      .sub-nav-list {
        flex-shrink: 0;

        li {
          padding: 10px 0;

          a {
            padding: 10px;
            font-size: 16px;

            @media(hover: hover) {
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.great-header-nav-container {
  flex-grow: 1;
  color: $white;
  display: flex;
  justify-content: flex-end;

  a {
    color: inherit;
    text-decoration: none;

    @media(hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.great-header-menu-mobile {
  display: none;
  position: relative;
  background-color: $lightened-great-blue;
  color: $white;
  padding: 5px 0;

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px 0;

    @media(hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sub-nav-mobile-list {
    padding-left: 15px;
  }
}

#international-header-sub-nav-background {
  @media(min-width: 768px) {
    display: block;
  }
  display: none;
  background-color: rgba($great-blue, 0.8);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
}
