
// Header

#header-bar {
  @include font-med-normal
  line-height: 1.47em;
  color: $white;
  overflow: hidden;
  height: 110px;
  position: relative;

  .account-links {
    li:nth-child(2):after {
      display: none;
    }

    li:nth-child(3) {
      margin-left: 30px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#header {
  min-height: 110px;
  background: $great-blue;

  ul li {
    position: static;

    &:before {
      left: auto;
      top: auto;
    }
  }

  li {
    padding: 0;
    margin: 0;

    &:before {
      background: none;
    }
  }

  .column-eigth {
    width: calc(100% / 8);
    float: left;
    box-sizing: border-box;
  }

  .account-links {
    float: right;
    padding: 7px 0;

    a {
      color: $white;
    }

    li {
      float: left;
      font-weight: bold;
      margin-left: 5px;

      &:first-child:after {
        content: '|';
      }
    }
  }

  .navigation {
    font-weight: 700;
    color: $white;
    text-decoration: none;
  }
}

#header-dit-logo {
  height: auto;
  position: absolute;
  margin: 20px 0 15px;

  img {
    max-width: 158px;
    width: 100%;
  }
}

#header-menu {
  a {
    color: $white;
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    padding: 15px;
    padding-bottom: 21px;

  }

  li {
    display: inline-block;
  }

  .container {
    overflow: visible;
  }
}

@media screen and (min-width: 767px) {
  #header-menu {
    a.navigation:hover:before {
      @include great-red-trim
      width: 100%;
      position: absolute;
    }
  }
}

@media screen and (max-width: 767px) {
  #header-menu a:hover:before {
    background: $mid-blue;
  }
}

@media (max-width: 767px) {
  #header .column-eigth {
    width: 100%;
  }
}
