@import '../partials/colours';

.great-header-nav-container.international {
  flex-grow: 1;

  .great-international-main-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  a, label {
    color: #fff;
    text-decoration: none;

    @media(hover: hover) {
      &:hover {
        cursor: pointer;
        //text-decoration: underline;
      }
    }
  }

  .link-heading {
    position: relative;
    padding: 15px;
  }

  .main-nav-item {
    position: relative;
    font-size: 19px;
    line-height: 1;

    &.active .link-heading:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $great-red;
      content: '';
    }

    .sub-nav-toggle:checked {
      ~label.sub-nav-toggle-hide {
        display: inline;
      }
      ~label:not(.sub-nav-toggle-hide) {
        display: none;
      }
    }
    .sub-nav-toggle:not(:checked) {
      ~label.sub-nav-toggle-hide {
        display: none;
      }
      ~label:not(.sub-nav-toggle-hide) {
        display: inline;
      }
    }

    .sub-nav {
      top: 100%;
      position: absolute;
      margin-top: 15px;
      width: 150%;
      display: none;

      &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        top: 0;
        left: -5000px;
        width: 10000px;
        z-index: -1;
        align-self: stretch;
        flex-shrink: 0;
      }
    }

    .sub-nav-toggle:checked ~ .sub-nav {
      display: flex;
    }

    .sub-nav-list {
      flex-shrink: 0;

      li {
        padding: 15px 0;

        a {
          padding: 15px;
        }
      }
    }
  }
}