
// Layout

#header,
#footer {
  background-color: $great-blue;
  color: $white;

  .column-fifth {
    float: left;
    width: calc(100% / 5);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .column-sixth {
    float: left;
    width: calc(100% / 6);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .container {
    width: auto;
    overflow: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  &:before,
  &:after {
    display: none;
  }

  @media (max-width: 1260px) {
    .container {
      margin: 0 30px;
    }

    .links-list.container {
      margin: 0;
    }
  }

  @media (max-width: 767px) {
    .container {
      margin: 0 15px;
    }

    .column-third { width: 100%; }

    .column-quarter { width: 100%; }

    .column-fifth { width: 100%; }

    .column-sixth { width: 100%; }
  }

  @media (max-width: 420px) {
    .container {
      margin: 0 20px;
    }
  }
}

@media (max-width: 767px) {
  #header-menu .container {
    margin: 0;
  }
}
