
// SEARCH COMPONENT
// =================

@import '../../partials/colours';
@import '../../partials/mixins';
@import '../../partials/typography';

#great-header-search-form {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  @media(min-width: 769px) {
    width: auto;
    padding-bottom: 10px;
  }

  #great-header-search-box {
    height: 40px;
    width: calc(100% - 40px);
    font-family: $brand-font-alternative;
    padding: 0 15px;

    @media(min-width: 769px) {
      width: 200px;
    }
  }

  button[type=submit] {
    @include button-reset;
    height: 40px;
    width: 40px;
    font-size: 0; // hide button text visually but not for screenreaders
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: $active-blue;
    background-image: url('/static/directory_components/images/search.svg');
    background-size: 20px;
    &:focus,
    &:focus:active {
      @include focus;
    }
    &:active {
      background-color: $focus-yellow;
    }
  }
}

