@import 'node_modules/govuk_frontend_toolkit/stylesheets/typography';

// Great specific fonts
$brand-font: 'Overpass','Roboto', arial, helvetica, verdana;
$brand-font-alternative: 'Roboto', arial, helvetica, verdana;
$quote-font: 'Georgia', serif;
$line-height: 1.6;

// Great-specific typography mixins

@mixin font-xlarge-normal {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

@mixin font-xlarge-bold {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

@mixin font-large-normal {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
}

@mixin font-large-bold {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 19px;
  font-weight: 700;
}

@mixin font-med-normal {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

@mixin font-med-bold {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

@mixin font-small-normal {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@mixin font-small-bold {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
}

@mixin brand-36($tabular-numbers: false, $font-weight: 700) {
  $font-size: 36px;
  $font-size-640: 24px;
  $font-size-print: 18pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height, $tabular-numbers, $font-weight);
  font-family: $brand-font;
}

@mixin brand-48($tabular-numbers: false, $font-weight: 700) {
  $font-size: 48px;
  $font-size-640: 32px;
  $font-size-print: 18pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height, $tabular-numbers, $font-weight);
  font-family: $brand-font;
}

@mixin brand-52($tabular-numbers: false, $font-weight: 700) {
  $font-size: 52px;
  $font-size-640: 40px;
  $font-size-print: 18pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height, $tabular-numbers, $font-weight);
  font-family: $brand-font;
}

@mixin brand-24($tabular-numbers: false, $font-weight: 700) {
  $font-size: 24px;
  $font-size-640: 18px;
  $font-size-print: 16pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height, $tabular-numbers, $font-weight);
  font-family: $brand-font;
}

@mixin brand-19($tabular-numbers: false, $font-weight: 700) {
  $font-size: 19px;
  $font-size-640: 16px;
  $font-size-print: 14pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height, $tabular-numbers, $font-weight);
  font-family: $brand-font;
}

@mixin quote-24($tabular-numbers: false, $font-weight: 400) {
  $font-size: 24px;
  $font-size-640: 18px;
  $font-size-print: 16pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height, $tabular-numbers, $font-weight);
  font-family: $quote-font;
  font-style: italic;
}
