{% extends 'directory_components/header_footer/domestic_header_static.html' %}

{% block header_class %}with-search{% endblock %}

{% block header_search %}
<div class="great-header-search-wrapper">
  <div class="great-header-search-container">
    {% block header_search_form %}
      <form action="/" method="GET">
        <input id="search-box" type="text" name="search" placeholder="Search">
        <button type="submit">Search</button>
      </form>
    {% endblock %}
  </div>
</div>
{% endblock %}
