{% load static %}

<header id="great-header" class="great-header domestic" dir="ltr" data-ga-section="header">
  {% include 'directory_components/header_footer/global_header.html' with header_class="domestic" %}

  <div id="great-header-menu" class="great-header-menu domestic">
    <div class="container">

      {% block header_logo %}
        {% static 'directory_components/images/eig-logo-stacked.svg' as logo_image_url %}
        {% include 'directory_components/header_footer/header_logo.html' with url=service_urls.exred image_source=logo_image_url image_alt_text='Exporting is Great' %}
      {% endblock %}

      <div class="great-header-extra-links" id="great-header-extra-links">
        <ul>
          {% include 'directory_components/header_footer/sso_login.html' %}
        </ul>
      </div>

      {% include 'directory_components/header_footer/mobile_menu_button.html' %}
      {% include 'directory_components/header_footer/domestic_header_nav.html' with device_type='desktop' js_tag=false %}
    </div>

    {% include 'directory_components/header_footer/domestic_header_nav.html' with id='great-header-mobile-nav' device_type='mobile' js_tag=True %}
    {% include 'directory_components/header_footer/search.html' %}
  </div>
</header>