{% extends 'directory_components/header_footer/header_base.html' %}
{% load static %}
{% load i18n %}

{% block global_header_class %}domestic{% endblock %}
{% block header_class %}domestic{% endblock %}
{% block header_menu_class %}domestic{% endblock %}
{% block header_nav_class %}domestic{% endblock %}

{% block global_header_logo %}
<img id="great-global-header-logo" class="great-global-header-footer-logo" height="21" alt="Department for International Trade" src="{% static 'directory_components/images/dit-logo.svg' %}">
{% endblock %}

{% block header_logo %}
<img src="{% static 'directory_components/images/eig-logo-stacked.svg' %}" alt="Exporting is Great" height="80">
{% endblock %}

{% block header_logo_url %}{{ services_urls.exred }}{% endblock %}

{% block header_extra_links %}
  {% block login_state %}
    {% if not sso_is_logged_in %}
    <li class="anonymous">
      <a id="header-sign-in-link" href="{{ sso_login_url }}" class="account-link signin">Sign in</a>
    </li>
    {% else %}
    <li class="authenticated">
      <a id="header-profile-link" href="{{ sso_profile_url }}" class="account-link profile">Account</a>
    </li>
    <li class="authenticated">
      <a id="header-sign-out-link" href="{{ sso_logout_url }}" class="account-link signout">Sign out</a>
    </li>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block header_nav %}

<li class="column-quarter js-menuitem">
  <a href="{{ header_footer_urls.advice }}" class="link-heading" id="header-advice">Advice</a>
</li>

<li class="column-quarter js-menuitem">
  <a href="{{ header_footer_urls.markets }}" class="link-heading" id="header-markets">Markets</a>
</li>

<li class="column-quarter js-top-level-list">
  <span class="link-heading js-link-heading" id="header-services-links-heading">Services</span>
  <ul class="js-collapsible-menu" aria-labelledby="header-services-links-heading" id="header-services-links-list">
    <li class="js-menuitem">
      <a class="link" id="header-services-business-profile" href="{{ services_urls.fab }}">Create a business profile</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-services-selling-online-overseas" href="{{ services_urls.soo }}">Sell online overseas</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-services-export-opportunities" href="{{ services_urls.exopps }}">Find export opportunities</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-services-ukef" href="{{ header_footer_urls.ukef }}">UK Export Finance</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-services-events" href="{{ services_urls.events }}">Find events and visits</a>
    </li>
    <li class="js-menuitem">
      <a class="link" id="header-services-eori" href="https://www.gov.uk/eori">Get an EORI number</a>
    </li>
  </ul>
</li>

{% if features.NEWS_SECTION_ON %}
<li class="column-quarter js-menuitem">
  <a href="{{ header_footer_urls.domestic_news }}" class="link-heading" id="header-news">News and events</a>
</li>
{% endif %}

{% endblock %}

{% block header_search %}
<div class="great-header-search-wrapper">
  <div class="great-header-search-container">
    {% block header_search_form %}
      <form action="{{ services_urls.exred }}/search/" method="GET">
        <input id="search-box" type="text" name="q" placeholder="Search">
        <button type="submit">Search</button>
      </form>
    {% endblock %}
  </div>
</div>
{% endblock %}
