{% load static %}
<header id="header">
  <div id="header-bar">
    <div class="container">
      {% block login_state %}
      <ul aria-label="Account links" class="account-links">
        {% if not sso_is_logged_in %}
        <li class="anonymous">
          <a id="header-register-link" href="{{ sso_register_url }}" class="register">Register</a>
        </li>
        <li class="anonymous">
          <a id="header-sign-in-link" href="{{ sso_login_url }}" class="signin">Sign in</a>
        </li>
        {% else %}
        <li class="authenticated">
          <a id="header-profile-link" href="{{ sso_profile_url }}" class="profile">{% block profile_label %}Account{% endblock %}</a>
        </li>
        <li class="authenticated">
          <a id="header-sign-out-link" href="{{ sso_logout_url }}" class="signout">Sign out</a>
        </li>
        {% endif %}

        {% block international_link_js_disabled %}
        {% endblock %}

      </ul>
      {% endblock %}
      <span id="header-greeting"></span>

      <a id="header-dit-logo" href="{{ header_footer_urls.home }}">
        <img src="{% static 'directory_components/images/dfit-logo-white.png' %}" alt="Home">
      </a>
    </div>
  </div>

  <div class="js-disabled-only">
  {% block no_js_header_beta_banner %}
  {% endblock %}
  </div>

  <div id="header-menu">
    <div class="container">
      <nav id="menu">
        <ul>
          <li>
            <a class="navigation " href="{{ header_footer_urls.home }}" id="header-home-link">Home</a>
          </li>
          <li>
            <a class="navigation " href="{{ header_footer_urls.custom }}" id="header-custom-page-link">Your export journey</a>
          </li>
          <li><a class="navigation links-list-heading" href="#export-readiness-links-list" id="export-readiness-links">Export readiness</a>
            <ul id="export-readiness-links-list" aria-labelledby="export-readiness-links" class="container links-list">
              <li class="links-list-item column-third"><a id="header-export-readiness-new" href="{{ header_footer_urls.exporting_new }}">I'm new to exporting</a></li>
              <li class="links-list-item column-third"><a id="header-export-readiness-occasional" href="{{ header_footer_urls.exporting_occasional }}">I export occasionally</a></li>
              <li class="links-list-item column-third"><a id="header-export-readiness-regular" href="{{ header_footer_urls.exporting_regular }}">I'm a regular exporter</a></li>
            </ul>
          </li>
          <li><a class="navigation links-list-heading" href="#guidance-links-list" id="header-guidance-links">Guidance</a>
            <ul id="guidance-links-list" aria-labelledby="header-guidance-links" class="container links-list">
              <li class="links-list-item column-sixth"><a id="header-guidance-market-research" href="{{ header_footer_urls.market_research }}">Market research</a></li>
              <li class="links-list-item column-sixth"><a id="header-guidance-customer-insight" href="{{ header_footer_urls.customer_insight }}">Customer insight</a></li>
              <li class="links-list-item column-sixth"><a id="header-guidance-finance" href="{{ header_footer_urls.finance }}">Finance</a></li>
              <li class="links-list-item column-sixth"><a id="header-guidance-business-planning" href="{{ header_footer_urls.business_planning }}">Business planning</a></li>
              <li class="links-list-item column-sixth"><a id="header-guidance-getting-paid" href="{{ header_footer_urls.getting_paid }}">Getting paid</a></li>
              <li class="links-list-item column-sixth"><a id="header-guidance-operations-and-compliance" href="{{ header_footer_urls.operations_and_compliance }}">Operations and compliance</a></li>
            </ul>
          </li>
          <li><a class="navigation links-list-heading" href="#services-links-list" id="header-services-links">Services</a>
            <ul id="services-links-list" aria-labelledby="header-services-links" class="container links-list">
              <li class="links-list-item column-fifth">
                <a id="header-services-find-a-buyer" href="{{ header_footer_urls.fab }}">
                  <span>Create a business profile</span>
                  <p>Get promoted internationally with a great.gov.uk business profile</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-" href="{{ header_footer_urls.soo }}">
                  <span>Sell online overseas</span>
                  <p>Find the right marketplace for your business and access special offers for sellers</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-export-opportunities" href="{{ header_footer_urls.exopps }}">
                  <span>Find export opportunities</span>
                  <p>Find and apply for overseas opportunities</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-get-finance" href="{{ header_footer_urls.get_finance }}">
                  <span>Get finance</span>
                  <p>Get the finance you need to compete and grow</p>
                </a>
              </li>
              <li class="links-list-item column-fifth">
                <a id="header-services-events" href="{{ header_footer_urls.events }}">
                  <span>Find events and visits</span>
                  <p>Attend events and see how visits by ministers can support your trade deals</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
