{% load static %}
{% load i18n %}
{% get_current_language as lang_code %}

{% block header_country_selector %}
{% endblock %}

<header id="great-header" class="great-header {% block header_class %}{% endblock %}" dir="ltr">

  <div id="great-global-header" class="great-global-header-footer great-global-header {% block global_header_class %}{% endblock %}">
    <div class="container">
      {% block global_header_logo %}
      {% endblock %}
      <div class="great-domestic-international-links">
        <a href="{{ services_urls.great_domestic }}?lang=en-gb" id="great-global-header-domestic-link" class="domestic" data-ga-class="header-navigation">{% trans 'For UK businesses' %}</a>
        <a href="{{ services_urls.great_international }}" id="great-global-header-international-link" class="international">{% trans 'For international businesses' %}</a>
      </div>
    </div>
  </div>

  <div id="great-header-menu" class="great-header-menu {% block header_menu_class %}{% endblock %}">

    <div class="container">
      <a id="great-header-logo" class="great-header-logo" href="{% block header_logo_url %}{% endblock %}">
        {% block header_logo %}{% endblock %}
      </a>

      <div class="great-header-extra-links" id="great-header-extra-links">
        {% block header_extra_links %}
        {% endblock %}

        {% block header_language_selector %}
        {% endblock %}

      </div>

      {% block header_nav %}
      {% endblock %}

      {% block header_search %}
      {% endblock %}
    </div>
  </div>

  {% block header_sub_nav_background %}
  {% endblock %}
</header>
