{% load static %}
{% load i18n %}

{% include 'directory_components/header_footer/header_country_select.html' %}

<header id="great-header" class="great-header international" dir="ltr" data-ga-section="header">
  {% include 'directory_components/header_footer/global_header.html' with header_class="international" %}

  <div id="great-header-menu" class="great-header-menu international">
    <div class="container">

      {% block header_logo %}
        {% static 'directory_components/images/great.svg' as logo_image_url %}
        {% include 'directory_components/header_footer/header_logo.html' with url=services_urls.great_international image_source=logo_image_url image_alt_text='Great Britain and Northern Ireland' %}
      {% endblock %}

      <div class="great-header-extra-links" id="great-header-extra-links">
        {% include 'directory_components/header_footer/country_switcher.html' %}
        {% include 'directory_components/header_footer/language_switcher.html' %}
      </div>

      {% include 'directory_components/header_footer/international_header_desktop_nav.html' %}
      {% include 'directory_components/header_footer/mobile_menu_button.html' with controls='#great-header-nav' %}
    </div>
    {% include 'directory_components/header_footer/international_header_desktop_sub_nav.html' %}
    {% include 'directory_components/header_footer/international_header_mobile_nav.html' %}
  </div>
</header>