{% extends 'directory_components/header_footer/header_base.html' %}
{% load static %}
{% load i18n %}
{% load directory_components_tags %}

{% block header_country_selector %}
  {% if not hide_country_selector %}
    {% include 'directory_components/header_footer/header_country_select.html' %}
  {% endif %}
{% endblock %}

{% block global_header_class %}international{% endblock %}
{% block header_class %}international{% endblock %}
{% block header_menu_class %}international{% endblock %}
{% block header_nav_class %}international{% endblock %}

{% block global_header_logo %}
<img id="great-global-header-logo" class="great-global-header-footer-logo" alt="HM Government" height="24" src="{% static 'directory_components/images/hm-government.svg' %}">
{% endblock %}

{% block header_logo %}
<img src="{% static 'directory_components/images/great.svg' %}" alt="{% trans 'Great Britain and Northern Ireland' %}" width="180" height="auto">
{% endblock %}

{% block header_logo_url %}{{ services_urls.great_international }}{% endblock %}

{% block header_extra_links %}

{% if hide_country_selector %}
<div id="great-header-country-selector" class="great-header-country-selector great-header-form">
  <form class="countries" action="" method="get" data-ga-class="change-country-form">
    <label for="great-header-country-select">{% trans 'Country' %}</label>
    <span id="great-header-flag-icon" class="flag-icon flag-icon-{{ country.code }}"></span>
    <span id="great-header-country-display" class="great-header-country-display" aria-hidden="true"></span>
    {{ country_selector_form.country }}
    <button id="great-header-country-submit" type="submit">{% trans 'Select' %}</button>
  </form>
</div>
{% endif %}

{% block header_language_switcher %}
  {% if language_switcher.show %}
    <div id="great-header-language-switcher" class="great-header-language-switcher great-header-form">
      {% language request.LANGUAGE_CODE %}
        <form class="languages" action="" method="get" data-ga-class="change-language-form">
          {% block language_form_inner %}{% endblock %}
          <label for="great-header-language-select">{% trans 'Language' %}</label>
          <span id="great-header-language-display" class="great-header-language-display" aria-hidden="true"></span>
            {{ language_switcher.form.lang }}
          <button id="great-header-language-submit" type="submit">{% trans 'Select' %}</button>
        </form>
      {% endlanguage %}
    </div>
  {% endif %}
{% endblock %}

{% endblock %}

{% block header_nav %}

<li class="column-quarter js-menuitem">
  <a class="link-heading" id="header-invest" href="{{ services_urls.invest }}" data-ga-class="header-navigation">{% trans 'Invest' %}</a>
</li>

<li class="column-quarter js-menuitem">
  <a href="{{ services_urls.uk_setup_guide }}" class="link-heading" id="header-set-up">{% trans 'UK setup guide' %}</a>
</li>

<li class="column-quarter js-menuitem">
  <a href="{{ services_urls.fas }}" class="link-heading" id="header-fas">{% trans 'Find a UK supplier' %}</a>
</li>

<li class="column-quarter js-menuitem">
  <a href="{{ header_footer_urls.industries }}" class="link-heading" id="header-industries" data-ga-class="header-navigation">{% trans 'Industries' %}</a>
</li>

{% if features.HOW_TO_DO_BUSINESS_ON %}
<li class="column-quarter js-menuitem">
  <a href="{{ header_footer_urls.how_to_do_business_with_the_uk }}" class="link-heading" id="header-how-to-do-business-with-the-uk" data-ga-class="header-navigation">{% trans 'How to do business with the UK' %}</a>
</li>
{% endif %}

{% if features.NEWS_SECTION_ON %}
<li class="column-quarter js-menuitem">
  <a href="{{ header_footer_urls.international_news }}" class="link-heading" id="header-news" data-ga-class="header-navigation">{% trans 'News' %}</a>
</li>
{% endif %}

{% endblock %}
