{% extends 'directory_components/header_footer/header_base.html' %}
{% load static %}
{% load i18n %}
{% load directory_components %}

{% block header_country_selector %}
  {% if not hide_country_selector %}
    {% include 'directory_components/header_footer/header_country_select.html' %}
  {% endif %}
{% endblock %}

{% block global_header_class %}international{% endblock %}
{% block header_class %}international{% endblock %}
{% block header_menu_class %}international{% endblock %}

{% block global_header_logo %}
<img id="great-global-header-logo" class="great-global-header-footer-logo" alt="HM Government" height="24" src="{% static 'directory_components/images/hm-government.svg' %}">
{% endblock %}

{% block header_logo %}
<img src="{% static 'directory_components/images/great.svg' %}" alt="{% trans 'Great Britain and Northern Ireland' %}" height="64" width="auto">
{% endblock %}

{% block header_logo_url %}{{ services_urls.great_international }}{% endblock %}

{% block header_extra_links %}

{% if features.COUNTRY_SELECTOR_ON and hide_country_selector %}
<div id="great-header-country-selector" class="great-header-country-selector great-header-form">
  <form class="countries" action="" method="get" data-ga-class="change-country-form">
    <label for="great-header-country-select">{% trans 'Country' %}</label>
    <span id="great-header-flag-icon" class="flag-icon flag-icon-{{ country.code }}"></span>
    <span id="great-header-country-display" class="great-header-country-display" aria-hidden="true"></span>
    {{ country_selector_form.country }}
    <button id="great-header-country-submit" type="submit">{% trans 'Select' %}</button>
  </form>
</div>
{% endif %}

{% block header_language_switcher %}
  {% if language_switcher.show %}
    <div id="great-header-language-switcher" class="great-header-language-switcher great-header-form">
      {% language request.LANGUAGE_CODE %}
        <form class="languages" action="" method="get" data-ga-class="change-language-form">
          {% block language_form_inner %}{% endblock %}
          <label for="great-header-language-select">{% trans 'Language' %}</label>
          <span id="great-header-language-display" class="great-header-language-display" aria-hidden="true"></span>
            {{ language_switcher.form.lang }}
          <button id="great-header-language-submit" type="submit">{% trans 'Select' %}</button>
        </form>
      {% endlanguage %}
    </div>
  {% endif %}
{% endblock %}

{% endblock %}

{% block header_nav %}
<nav id="great-header-nav" class="great-header-nav" aria-label="{% trans 'Main menu' %}">
  <ul class="great-header-nav-list" id="great-header-nav-list">
    <li class="main-nav-item{% if international_header_area == "about_uk" %} active{% endif %}">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.invest }}uk-regions/midlands">{% trans 'About the UK' %}</a>
    </li>

    <li class="main-nav-item{% if international_header_area == "expand" %} active{% endif %}">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.invest }}">{% trans 'Start a company' %}</a>
    </li>

    <li class="main-nav-item{% if international_header_area == "capital_invest" %} active{% endif %}">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.capital_invest }}">{% trans 'Invest capital' %}</a>
    </li>

    <li class="main-nav-item{% if international_header_area == "find_a_supplier" %} active{% endif %}">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ header_footer_urls.fas }}">{% trans 'Buy from the UK' %}</a>
    </li>

    <li class="main-nav-item{% if international_header_area == "about_dit" %} active{% endif %}">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.great_international }}">{% trans 'About us' %}</a>
    </li>

    <li class="main-nav-item{% if international_header_area == "news_and_events" %} active{% endif %}">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.great_international }}">{% trans 'Latest' %}</a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block header_nav_mobile %}

<nav id="great-header-nav-mobile" class="great-header-nav-mobile" aria-label="{% trans 'Main menu' %}">
  <ul class="great-header-nav-list" id="great-header-nav-list">

    <li class="main-nav-item">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.invest }}uk-regions/midlands">{% trans 'About the UK' %}</a>
      <ul class="sub-nav-mobile-list">
        <li><a href="{{ services_urls.invest }}uk-regions/midlands">Overview</a></li>
        <li><a href="{{ services_urls.invest }}uk-regions/midlands">Regions</a></li>
        <li><a href="{{ header_footer_urls.industries }}">Industries</a></li>
      </ul>
    </li>

    <li class="main-nav-item">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.invest }}">{% trans 'Start a company' %}</a>
      <ul class="sub-nav-mobile-list">
        <li><a href="{{ services_urls.invest }}">Overview</a></li>
        <li><a href="{{ services_urls.invest }}high-potential-opportunities/food-production/">High-potential opportunities</a></li>
        <li><a href="{{ services_urls.uk_setup_guide }}">How to set up a company</a></li>
        <li><a href="{{ services_urls.isd }}">Professional advice</a></li>
      </ul>
    </li>

    <li class="main-nav-item">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.capital_invest }}">{% trans 'Invest capital' %}</a>
      <ul class="sub-nav-mobile-list">
        <li><a href="{{ services_urls.capital_invest }}">Overview</a></li>
        <li><a href="{{ services_urls.capital_invest }}">Investment types</a></li>
        <li><a href="{{ services_urls.capital_invest }}">Investment opportunities</a></li>
        <li><a href="{{ services_urls.capital_invest }}">How to invest capital</a></li>
        <li><a href="{{ services_urls.capital_invest }}">Professional advice</a></li>
      </ul>
    </li>

    <li class="main-nav-item">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ header_footer_urls.fas }}">{% trans 'Buy from the UK' %}</a>
      <ul class="sub-nav-mobile-list">
        <li><a href="{{ header_footer_urls.fas }}">Overview</a></li>
        <li><a href="{{ header_footer_urls.fas }}">How to buy from the UK</a></li>
        <li><a href="{{ header_footer_urls.fas }}?q=&sectors=">Supplier directory</a></li>
      </ul>
    </li>

    <li class="main-nav-item">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.great_international }}">{% trans 'About us' %}</a>
      <ul class="sub-nav-mobile-list">
        <li><a href="{{ services_urls.great_international }}">What we do</a></li>
        <li><a href="{{ services_urls.great_international }}">Success stories</a></li>
        <li><a href="{{ services_urls.contact_us }}">Contact us</a></li>
      </ul>
    </li>

    <li class="main-nav-item">
      <a class="link-heading" data-ga-class="header-navigation" href="{{ services_urls.great_international }}">{% trans 'Latest' %}</a>
      <ul class="sub-nav-mobile-list">
        <li><a href="{{ services_urls.events }}">Events</a></li>
        <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade">News</a></li>
      </ul>
    </li>
  </ul>
</nav>

{% endblock %}

{% block header_sub_nav %}
{% if international_header_area %}
<div class="great-header-sub-nav">
  <div class="container">
    <nav aria-label="{% trans 'Sub-menu' %}">
      <ul class="sub-nav-list">
        {% if international_header_area == "about_uk" %}
          <li><a href="{{ services_urls.invest }}uk-regions/midlands">Overview</a></li>
          <li><a href="{{ services_urls.invest }}uk-regions/midlands">Regions</a></li>
          <li><a href="{{ header_footer_urls.industries }}">Industries</a></li>
        {% elif international_header_area == "expand" %}
          <li><a href="{{ services_urls.invest }}">Overview</a></li>
          <li><a href="{{ services_urls.invest }}high-potential-opportunities/food-production/">High-potential opportunities</a></li>
          <li><a href="{{ services_urls.uk_setup_guide }}">How to set up a company</a></li>
          <li><a href="{{ services_urls.isd }}">Professional advice</a></li>
        {% elif international_header_area == "capital_invest" %}
          <li><a href="{{ services_urls.capital_invest }}">Overview</a></li>
          <li><a href="{{ services_urls.capital_invest }}">Investment types</a></li>
          <li><a href="{{ services_urls.capital_invest }}">Investment opportunities</a></li>
          <li><a href="{{ services_urls.capital_invest }}">How to invest capital</a></li>
          <li><a href="{{ services_urls.capital_invest }}#">Professional advice</a></li>
        {% elif international_header_area == "find_a_supplier" %}
          <li><a href="{{ header_footer_urls.fas }}">Overview</a></li>
          <li><a href="{{ header_footer_urls.fas }}">How to buy from the UK</a></li>
          <li><a href="{{ header_footer_urls.fas }}?q=&sectors=">Supplier directory</a></li>
        {% elif international_header_area == "about_dit" %}
          <li><a href="{{ services_urls.great_international }}">What we do</a></li>
          <li><a href="{{ services_urls.great_international }}">Success stories</a></li>
          <li><a href="{{ services_urls.contact_us }}">Contact us</a></li>
        {% elif international_header_area == "news_and_events" %}
          <li><a href="{{ services_urls.events }}">Events</a></li>
          <li><a href="https://www.gov.uk/government/organisations/department-for-international-trade">News</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endblock %}
