{% load static %}
<footer id="invest-footer">
  <div class="container">

    <div class="footer-branding">
      <img src="{% static 'directory_components/images/UK-Gov_STACK_WHITE_AW.png' %}" width="176" height="74" alt="UK Government" />
      <img src="{% static 'directory_components/images/IIG_Invest_in_GREAT_White_WITH_Flag.png' %}" width="148" height="107" alt="Invest logo" />
    </div>

    <div class="footer-main-links-list">
      <ul>
        <li>
          <a href="{{ services_urls.invest }}" role="menuitem">Home</a>
        </li>
        <li>
          <a href="{{ invest_header_footer_urls.industries }}" role="menuitem">Industries</a>
        </li>
        <li>
          <a href="{{ invest_header_footer_urls.uk_setup_guide }}" role="menuitem">UK Setup Guide</a>
        </li>
        <li>
          <a href="{{ services_urls.contact_us }}" role="menuitem">Contact Us</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-sub-links-list container">
    <ul>
      <li>
        <a href="{{ services_urls.exred }}" >Part of Great.gov.uk</a>
      </li>
      <li>
        <a href="{{ header_footer_urls.terms_and_conditions }}">Terms and conditions</a>
      </li>
      <li>
        <a href="{{ header_footer_urls.privacy_and_cookies }}">Privacy and cookies</a>
      </li>
      <li>
        <a href="{{ services_urls.dit }}" >Department for International Trade</a>
      </li>
    </ul>
  </div>

  <div class="footer-copyright">
    <div class="container">
      &copy; Crown copyright {% now 'Y' %}. All rights reserved.
    </div>
  </div>
</footer>
