{% load static %}

<header id="great-domestic-header" class="great-header magna-header {% if sso_is_logged_in %}signed-in{% else %}signed-out{% endif %}" dir="ltr" data-ga-section="header">
  {% if not sso_is_logged_in %}
    {% include 'directory_components/header_footer/magna_global_header.html' with header_class="domestic" %}
  {% endif %}
  <div class="menu">
    <div class="container">
      {% block header_logo %}
        {% static 'directory_components/images/eig-logo-stacked.svg' as logo_image_url %}
        {% include 'directory_components/header_footer/header_logo.html' with url=services_urls.exred image_source=logo_image_url image_alt_text='Exporting is Great' %}
      {% endblock %}

      {% block login_state %}
      <ul class="extra-links">
        {% include 'directory_components/header_footer/magna_sso_login.html' %}
      </ul>
      {% endblock %}

      {% include 'directory_components/header_footer/magna_mobile_menu_button.html' %}

      {% include 'directory_components/header_footer/magna_header_nav.html' with device_type='desktop' js_tag=false %}
      {% include 'directory_components/header_footer/magna_search.html' %}
    </div>

    {% include 'directory_components/header_footer/magna_header_nav.html' with id='great-header-mobile-nav' device_type='mobile' js_tag=True %}

  </div>

  <script>
    var sign_out_endpoint = '{{ header_footer_urls.magna_home }}api/business-logout/'
    var signOutButton = document.getElementById('sign_out_button_mobile');

    if (signOutButton) {
      signOutButton.addEventListener('click', function(e) {
        e.preventDefault();
        fetch(sign_out_endpoint, {
          method: 'post',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
          },
          body: JSON.stringify({})
        }).then(function() {
          window.location = '{{ header_footer_urls.magna_home }}';
        });
      });
    }
  </script>
</header>
