{% extends 'directory_components/header_footer_old/header.html' %}

{% block login_state %}
  <ul aria-label="Account links" class="account-links">
    <li class="anonymous" id="login-state-register">
      <a href="{{ sso_register_url }}" class="register">Register</a>
    </li>
    <li class="anonymous" id="login-state-sign-in">
      <a href="{{ sso_login_url }}" class="signin">Sign in</a>
    </li>
    <li class="authenticated" id="login-state-profile" style="display: none;">
      <a href="{{ sso_profile_url }}" class="profile">Account</a>
    </li>
    <li class="authenticated" id="login-state-sign-out" style="display: none;">
      <a href="{{ sso_logout_url }}" class="signout">Sign out</a>
    </li>
  </ul>
  <script type="text/javascript">
    const isAnonymous = document.cookie.indexOf('sso_display_logged_in=true') === -1;
    const accountLinksContainer = document.getElementsByClassName('account-links')[0];
    const profile = document.getElementById('login-state-profile');
    const signOut = document.getElementById('login-state-sign-out');
    const register = document.getElementById('login-state-register');
    const signIn = document.getElementById('login-state-sign-in');
    if (isAnonymous) {
      accountLinksContainer.removeChild(profile);
      accountLinksContainer.removeChild(signOut);
    } else {
      profile.style.display = 'inline-block';
      signOut.style.display = 'inline-block';
      accountLinksContainer.removeChild(register);
      accountLinksContainer.removeChild(signIn);
    }
  </script>
{% endblock %}
